#output
//- When we inline the data, we cut the HAR to just be one
//- specific run (the median run) in summaryPageHAR.
//- Inline script tags breaks the output
- dahar = h.get(pageInfo.data, 'browsertime.run.har', summaryPageHAR)
- dahar = JSON.stringify(dahar).split('</script>').join('&lt;/script&gt;').split('<script>').join('&lt;script&gt;')

script(type='text/javascript').
  window.__waterfallBufferPromise = Promise.resolve(new TextEncoder().encode(JSON.stringify(!{dahar})));

include ./_waterfallRender.pug
