#output
//- When we inline the data, we cut the HAR to just be one
// specific run (the median run) in summaryPageHAR.
- dahar = h.get(pageInfo.data, 'browsertime.run.har', summaryPageHAR)

script(src= rootPath + 'js/perf-cascade.min.js')
script(type='text/javascript').
  var outputHolderEl = document.getElementById("output");
  var pageSelectorEl = document.getElementById("page-selector");
  var legendHolderEl = document.getElementById("legend-holder");
  var options = {
    rowHeight: 23,
    showAlignmentHelpers : false,
    showIndicatorIcons: false,
    showMimeTypeIcon: true,
    leftColumnWidth: 30,
    legendHolder: legendHolderEl,
    selectedPage: #{runIndex || medianRun.runIndex},
    pageSelector: pageSelectorEl

  };
  var har = !{JSON.stringify(dahar.log)};
  var perfCascadeSvg =  perfCascade.fromHar(har, options);
  outputHolderEl.appendChild(perfCascadeSvg);
