a#waterfall
h3 Waterfall

if (options.html.showAllWaterfallSummary === true)
  p Choose HAR:
  select#page-selector

#legend-holder

if options.html.fetchHARFiles
  include ./fetchHAR.pug
else
  include ./includeHARinHTML.pug

.downloads
  - var harName = options.gzipHAR ? 'data/browsertime.har.gz' : 'data/browsertime.har'
  a.button.button-download(href=harName, download) Download HAR

  if options.html.logDownloadLink
    a.button.button-download(href='../../logs/sitespeed.io.log', download) Download run log
