a#waterfall
h3 Waterfall

if (options.browsertime.iterations > 1)
  p Choose HAR:
select#page-selector
if summaryPageHAR && options.browsertime.iterations === 1
  p HAR from first run (
    a(href='data/browsertime.har') download
    |):
else
  a(href='data/browsertime.har') Download
  |  the HAR file.
#legend-holder
#output

if options.html.fetchHARFiles
  include ./fetchHAR.pug
else
  include ./includeHARinHTML.pug
