a#waterfall
h3 Waterfall

if (options.html.showAllWaterfallSummary === true)
  p Choose HAR:
  select#page-selector
a(href='data/browsertime.har') Download
|  the HAR file.
#legend-holder
#output

if options.html.fetchHARFiles
  include ./fetchHAR.pug
else
  include ./includeHARinHTML.pug
