a#waterfall
h3 Waterfall

//- on the summary page, display which run that was chosen for the HAR
if medianRun
  p.small Run&nbsp;
    a(href='./' + medianRun.runIndex + '.html') #{(medianRun.runIndex)}
    | &nbsp;#{medianRun.name}
    if !medianRun.default
      | &nbsp;median

if (options.html.showAllWaterfallSummary === true)
  p Choose HAR:
  select#page-selector
  
#legend-holder

if options.html.fetchHARFiles
  include ./fetchHAR.pug
else
  include ./includeHARinHTML.pug

.downloads
  - var harEnding = options.gzipHAR ? '.har.gz' : '.har'
  - var harName = 'data/browsertime' + harEnding
  - var harDownloadName = downloadName + harEnding
  a.button.button-download(href=harName, download=harDownloadName) Download HAR
