a#waterfall
h3 Waterfall

if (options.html.showAllWaterfallSummary === true)
  p Choose HAR:
  select#page-selector
- var harName = options.gzipHAR ? 'data/browsertime.har.gz' : 'data/browsertime.har'
a(href=harName) Download
|  the HAR file.
#legend-holder
#output

if options.html.fetchHARFiles
  include ./fetchHAR.pug
else
  include ./includeHARinHTML.pug
