#tabs
  a#summary(href='#summary', onclick='return selectTab(this)')
    img(src= rootPath + 'img/summary64.png', height=32, alt='Summary')
    | Summary
  if d.coach && d.coach.run
    a#coach(href='#coach', onclick='return selectTab(this)')
      img(src= rootPath + 'img/coach64.png', height=32, alt='Coach')
      | Coach
  if d.browsertime && d.browsertime.run
    a#browsertime(href='#browsertime', onclick='return selectTab(this)')
      img(src= rootPath + 'img/browsertime64.png', height=32, alt='Browsertime')
      | Browsertime
  if d.pagexray && d.pagexray.run
    a#pagexray(href='#pagexray', onclick='return selectTab(this)')
      img(src= rootPath + 'img/xray64.png', height=32, alt='PageXray')
      | PageXray
  each pageRun in pageRuns
    a(id=pageRun.id, href='#' + pageRun.id, onclick='return selectTab(this)')
     | #{pageRun.name}

script(type='text/javascript')
  include ./scripts.js
