script(type='text/javascript').
  function select(el) { el && el.setAttribute('selected', '') }

  [].forEach.call(document.querySelectorAll('[data-name=tabs]'), function(el) {
    if (location.hash === '#' + el.id) select(el);
  });

  if (!document.querySelectorAll('[data-name=tabs][selected]').length) {
    select(document.querySelector('[if-not-selected]'));
  }

  function selectTab(el, panelId) {
    var sel = document.querySelector('[data-name=tabs][selected]');
    if (sel) sel.removeAttribute('selected');
    select(el);

    var sections = document.getElementsByTagName('section');
     for (i = 0; i < sections.length; i++) {
      sections[i].style.display = 'none';
     }

    if (panelId) {
     var panel = document.getElementById(panelId);
     panel.style.display = 'block';
    }

    var charts = document.querySelectorAll(".ct-chart");
    for (i = 0; i < charts.length; i++) {
      if (charts[i].__chartist__) {
        charts[i].__chartist__.update();
      }
    }

    if (history.replaceState) {
      history.replaceState(null, null, el.href);
      return false;
    }
    // IE9 fallback
  }
