## Displaying the time since last modification date
## all input are in org.joda.time.Seconds

## These classes are living in the velocity universe
## $math org.apache.velocity.tools.generic.MathTool

## crazy velocity style to avoid spaces
#macro ( prettyPrint $seconds )
#if (!$seconds)##
#elseif ($seconds.getSeconds() == 0)##
0 s##
#elseif ($seconds.toStandardWeeks().getWeeks() > 52 )##
$math.roundTo(1,$math.div($seconds.toStandardWeeks().getWeeks(),52)) years##
#elseif ($seconds.toStandardDays().getDays() > 1)##
$seconds.toStandardDays().getDays()  days##
#elseif ($seconds.toStandardDays().getDays() > 0)##
$seconds.toStandardDays().getDays()  day##
#elseif ($seconds.toStandardHours().getHours() > 1)##
$seconds.toStandardHours().getHours()  hours##
#elseif ($seconds.toStandardHours().getHours() > 0)##
$seconds.toStandardHours().getHours()  hour##
#elseif ($seconds.toStandardMinutes().getMinutes() > 1)##
$seconds.toStandardMinutes().getMinutes()  minutes##
#elseif ($seconds.toStandardMinutes().getMinutes() > 0)##
$seconds.toStandardMinutes().getMinutes()  minute##
#elseif ($seconds.toStandardWeeks().getWeeks() < -52 )##
$math.roundTo(1,$math.div($seconds.toStandardWeeks().getWeeks(),52)) years##
#elseif ($seconds.toStandardDays().getDays() < -1)##
$seconds.toStandardDays().getDays()  days##
#elseif ($seconds.toStandardDays().getDays() < 0)##
$seconds.toStandardDays().getDays()  day##
#elseif ($seconds.toStandardHours().getHours() < -1)##
$seconds.toStandardHours().getHours()  hours##
#elseif ($seconds.toStandardHours().getHours() < 0)##
$seconds.toStandardHours().getHours()  hour##
#elseif ($seconds.toStandardMinutes().getMinutes() < -1)##
$seconds.toStandardMinutes().getMinutes()  minutes##
#elseif ($seconds.toStandardMinutes().getMinutes() < 0)##
$seconds.toStandardMinutes().getMinutes()  minute##
#else##
$seconds.getSeconds() seconds##
#end#end##