## Set the right table header  
#macro (columnHeader $columnName)
	#if ($filetool.doFileExist("report/velocity/inc/detailed.site/column-headers/${columnName}.vm"))
		#parse("report/velocity/inc/detailed.site/column-headers/${columnName}.vm")
	#elseif ($filetool.doFileExist("report/velocity/inc/detailed.site/column-headers/user/${columnName}.vm"))
		#parse("report/velocity/inc/detailed.site/column-headers/user/${columnName}.vm")
	#else
		#columnHeaderHTML("Non existing header vm file: ${columnName}.vm","string","","")##
	#end
#end

## Header HTML
#macro ( columnHeaderHTML $columName, $dataSort, $tooltip,$class)
<th data-sort="$dataSort" class="$class">
	<a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="$tooltip">$columName</a>
</th>
#end

#macro (columnValue $columnName, $results)
## specific columns that have extra HTML
#set( $specialColumns  = ["score", "syncjs","spof","url"])
#set( $showOnPhone  = ["score", "url"])

#if ($showOnPhone.contains($columnName))
<td>
#else
<td class="hidden-sm">
#end
	#if ($specialColumns.contains($columnName))
		#parse("report/velocity/inc/detailed.site/columns/${columnName}-html-wrapper.vm")		
    #elseif ($filetool.doFileExist("report/velocity/inc/detailed.site/columns/${columnName}.vm")) 
     		#parse("report/velocity/inc/detailed.site/columns/${columnName}.vm")
     	#elseif ($filetool.doFileExist("report/velocity/inc/detailed.site/columns/user/${columnName}.vm"))
     		#parse("report/velocity/inc/detailed.site/columns/user/${columnName}.vm")
     	#else
     	Non existing vm file: ${columnName}.vm
     	#end	
</td>	
#end



