## Set the right table header  
#macro (columnHeader $columnName)
	#parse("report/velocity/inc/detailed.site/column-headers/${columnName}.vm")
#end

## Header HTML
#macro ( columnHeaderHTML $columName, $dataSort, $tooltip )
<th data-sort="$dataSort">
	<a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="$tooltip">$columName</a>
</th>
#end

## TODO add check if file exist and check another user dir
#macro (columnValue $columnName, $results)
	#parse("report/velocity/inc/detailed.site/columns/${columnName}.vm")
#end



