## CamelCaseSplitter
#macro (camelCaseSplitter $name)
#foreach ($s in $name.split("(?=[A-Z])"))
 $s
#end#end

## Set the right table header
#macro (columnHeader $columnName)
	#if ($columnName.toLowerCase().endsWith("time"))
		#parse("report/velocity/inc/pages/column-headers/genericTimeMetrics.vm")
	#elseif ($filetool.doFileExist("report/velocity/inc/pages/column-headers/${columnName}.vm"))
		#parse("report/velocity/inc/pages/column-headers/${columnName}.vm")
	#elseif ($filetool.doFileExist("report/velocity/inc/pages/column-headers/custom/${columnName}.vm"))
		#parse("report/velocity/inc/pages/column-headers/custom/${columnName}.vm")
	#else
		#columnHeaderHTML("Non existing header vm file: ${columnName}.vm","string","","")##
	#end
#end

## Header HTML
#macro ( columnHeaderHTML $columnName, $dataSort, $tooltip,$class)
<th data-sort="$dataSort" class="$class">
	<a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="$tooltip">
	#if ($columnName.toLowerCase().endsWith("time"))
		#camelCaseSplitter($columnName)
	#else
	$columnName
	#end
	</a>
</th>
#end

#macro (columnValue $columnName, $results)
## specific columns that have extra HTML
#set( $specialColumns  = ["ruleScore", "jsSyncInHead","spof","url"])

<td>
#if ($columnName.toLowerCase().endsWith("time"))
	#parse("report/velocity/inc/pages/columns/genericTimeMetrics.vm")
#elseif ($specialColumns.contains($columnName))
	#parse("report/velocity/inc/pages/columns/${columnName}-html-wrapper.vm")
#elseif ($filetool.doFileExist("report/velocity/inc/pages/columns/${columnName}.vm"))
	#parse("report/velocity/inc/pages/columns/${columnName}.vm")
#elseif ($filetool.doFileExist("report/velocity/inc/pages/columns/custom/${columnName}.vm"))
     #parse("report/velocity/inc/pages/columns/custom/${columnName}.vm")
#else
     	Non existing vm file: ${columnName}.vm
#end
</td>
#end



