## Limits & rules macros
##

## These classes are lining in the velocity universe
## $math org.apache.velocity.tools.generic.MathTool
## $esc org.apache.velocity.tools.generic.EscapeTool
## $host com.soulgalore.velocity.HostTool
## $stats org.apache.commons.math3.stat.descriptive.DescriptiveStatistics
## $document org.jdom2.Document


## Verify the Sitespeed/Yslow score, over 90 is good
#macro( scoreType $score )
#if ($score>89.99)success#elseif ($score>80)
warning#else
danger#end#end

## Verify the Sitespeed/Yslow score, over 90 is good
## Fix for bootstrap, different class names, different areas
## this is for the badge
#macro( scoreTypeBadge $score )
#if ($score>89.99)success#elseif ($score>80)
warning#else
danger#end#end


## Verify number of JS, 2 is ok (analythics & one combined :)		
## The warning is the number from httparchive, most common number of js
#macro ( jsType $js )
#if ($js<3)success#elseif ($js<15)
warning#else
danger#end#end

## Verify number of CSS, yes have one combined
## The warning (5) is the number from httparchive, most common number of css
#macro ( cssType $css )
#if ($css<3)success#elseif ($css<5)
warning#else
danger#end#end

## Verify number of requests for a page, below 25 is ok
## 88 is the avreage amount from http archive
#macro ( requestType $r )
#if ($r<25)success#elseif ($r<88)
warning#else
danger#end#end	

## Verify the number of CSS images, 1 is like perfect
#macro ( cssImageType $cssImage )
#if ($cssImage<2)success#elseif ($cssImage<5)
warning#else
danger#end#end	

## Verify number of images on page, below 25 is ok for now
## 54 is the average value according to httparchive
#macro ( imageType $image )
#if ($image<25)success#elseif ($image<54)
warning#else
danger#end#end

## Verify the how many requests that are cached, perfect world only the page & 
## analythics should not be cached, else if 90% are primed, thats ok
#macro ( requestPrimedType $requests $requestPrimed )
#if ($requestPrimed<3)success#elseif ($math.div($math.sub($requests,$requestPrimed),$requests)>0.90)
warning#else
danger#end#end

## Verify the total page wight (including all assets). Below 1 mb is ok
## 1280000 is average from http archive
#macro ( weightType $weight )
#if ($weight<1000)success#elseif ($weight<1280)
warning#else
danger#end#end

## Verify the doc weight, needs to be small for mobile, should also 
## take inconcideration total weight. 26000 kb is the average from http archive
#macro ( weightMobileType $weight )
#if ($weight<10)success#elseif ($weight<26)
warning#else
danger#end#end

## Verify the spof, if one or more, danger!
#macro ( spofType $spof )
#if ($spof>0)danger#else
success#end#end

## Verify the js loaded sync in head, if one or more, danger!
#macro ( totalJsSyncInHeadType $js )
#if ($js<1)success#else
danger#end#end        


## The total image size of a page
#macro ( totalImageType $weight )
#if ($weight<500)success#elseif ($weight<850)
warning#else
danger#end#end

## The critical path
#macro ( criticalPathType $score )
#if ($score<95)danger#elseif ($score<96)
warning#else
success#end#end

## Verify assets without far expires date
#macro ( expiresType $expires )
#if ($expires<1)success#elseif ($expires<5)
warning#else
danger#end#end

## The amount of text content on a page in percentage
#macro ( textContentType $amount )
#if ($amount>49)success#elseif ($amount>25)
warning#else
danger#end#end

## The time to first byte
#macro ( ttfbType $time )
#if ($time<0.3)success#elseif ($time<0.5)
warning#else
danger#end#end

## The number of DOM elements
#macro ( domElementsType $el )
#if ($el<901)success#elseif ($el<1008)
warning#else
danger#end#end

## The number of domains
#macro ( domainsType $domains )
#if ($domains<3)success#elseif ($domains<7)
warning#else
danger#end#end

## If the input is null, zero i## The number of DOM elements
#macro ( getNumber $number )
#if ($number=="NaN")0#else$number#end#end

##Add an s if plural
#macro ( plural $number)
#if ($number>1)s#end#end 

## Get the right box  
#macro (getBox $name)
	#if ($filetool.doFileExist("report/velocity/inc/site.summary/boxes/${name}.vm"))
		#parse("report/velocity/inc/site.summary/boxes/${name}.vm")
	#elseif ($filetool.doFileExist("report/velocity/inc/site.summary/boxes/user/${name}.vm"))
		#parse("report/velocity/inc/site.summary/boxes/user/${name}.vm")
	#else
		Non existing box vm file: ${name}.vm##
	#end
#end

