## Limits & rules macros
##
#macro (getRuleColor $ruleName $value)
#set ($color = $rulemanager.getRuleColor($ruleName,$math.toDouble($value)))##
#if ($color=="RED")##
danger#elseif ($color=="GREEN")##
success#elseif ($color=="YELLOW")##
warning#else##
info#end#end

## If the input is null, zero i## The number of DOM elements
#macro ( getNumber $number )
#if ($number=="NaN")0#else$number#end#end

##Add an s if plural
#macro ( plural $number)
#if ($number>1)s#end#end

##Get Browser name
#macro (getBrowserName $name)
#set ($browser = "$name.substring(0,1).toUpperCase()$name.substring(1)")##
#if ($browser.equals("Internet explorer"))##
#set ($browser="IE")##
#end##
$browser##
#end##

##Get OS  name
#macro (getOsName $name)
#set ($os = $name.toLowerCase())##
#if ($os.equals("xp") || $os.equals("windows")  || $os.equals("win8")  || $os.equals("win7"))##
#set ($os="Windows")##
#end##
$os.substring(0,1).toUpperCase()$os.substring(1)##
#end##
