- let haveHints = false
- let hintsTotal = 0
each value, key in advice.info.resourceHints
  if value && value.length > 0
    - haveHints = true
    - hintsTotal += value.length
if haveHints
  .listing-card
    .listing-card-header
      h3.listing-card-title Resource hints
      span.listing-card-meta #{hintsTotal} #{hintsTotal === 1 ? 'hint' : 'hints'}
    .hints-list
      each value, key in advice.info.resourceHints
        if value && value.length > 0
          .hints-group
            span.hints-group-name #{key}
            ul.hints-group-urls
              each url in value
                li.hints-group-url #{url}
