#tabs
  a(id='summary', href='#summary', onclick='return selectTab(this, true);')
    | Summary
  if d.browsertime && d.browsertime.har
    a(id='waterfall', href='#waterfall', onclick='return selectTab(this, true);')
      | Waterfall   
  if d.browsertime && d.browsertime.pageSummary
    a(id='metrics', href='#metrics', onclick='return selectTab(this, true);')
      | Metrics
  if options.browsertime.video
    a(id='video', href='#video', onclick='return selectTab(this, true);')
      | Video
  if (options.browsertime.visualMetrics && options.videoParams.createFilmstrip) || options.browsertime.chrome && options.browsertime.chrome.enableTraceScreenshots
    a(id='filmstrip', href='#filmstrip', onclick='return selectTab(this, true);')
      | Filmstrip      
  if d.coach && d.coach.pageSummary
    a(id='coach', href='#coach', onclick='return selectTab(this, true);')
      | Coach
  if d.pagexray && d.pagexray.pageSummary
    a(id='pagexray', href='#pagexray', onclick='return selectTab(this, true);')
      | PageXray
  if options.cpu || options.browsertime && options.browsertime.chrome && options.browsertime.chrome.collectLongTasks || options.browsertime && options.browsertime.firefox && options.browsertime.firefox.geckoProfiler
    a(id='cpu', href='#cpu', onclick='return selectTab(this, true);')
      | CPU      
  if d.thirdparty && d.thirdparty.pageSummary
    a(id='thirdparty', href='#thirdparty', onclick='return selectTab(this, true);')
      | Third party   
  each pageSummary in pageSummaries
    a(id=pageSummary.id, href='#' + pageSummary.id, onclick='return selectTab(this, true);')
      | #{pageSummary.name}

script(type='text/javascript')
  include ../includes/tabScripts.js
