## No fromatting in this hell to be able to outupt CSV correctly##
## Hack to display first found value, need a better solution if you want to choose from which Browser##
#set ($isDisplayed = false)##
#set($url = $results.getChild("curl").getValue())##
#set($isBrowserTime = $document.getRootElement().getChild("metrics"))##
#if($isBrowserTime)##
#foreach ($timingSession in $document.getRootElement().getChild("metrics").getChildren("timingSession"))##
#foreach ($pageData in $timingSession.getChild("pageData").getChildren())##
#if (($pageData.getChild("key").getValue()=="url") && ($pageData.getChild("value").getValue()==$url))##
#foreach ($metric in $timingSession.getChild("statistics").getChildren("statistic"))##
#if ($metric.getChild("name").getValue()==$column)##
#if ($metric.getChild($browserTimeField).getValue()!="")##
#if (!$isDisplayed)##
$metric.getChild($browserTimeField).getValue()##
#set ($isDisplayed = true)##
#end##
#else##
unknown##
#end##
#end##
#end##
#end##
#end##
#end##
#else##
unknown##
#end##
