
        #if($!{results.getChild("g").getChild("spof")})##

        ## Hack just to get the nr of SPOFs
        #if($results.getChild("g").getChild("spof").getChild("components").getChildren("item").size()>0)

            #set($spofDomains = "")##

            #foreach ($spofUrl in $results.getChild("g").getChild("spof").getChild("components").getChildren("item"))##
                ## only add unique ones##
                #if ($spofDomains.indexOf($host.getHost($spofUrl.getValue())) < 0)##
                    #set($spofDomains = $spofDomains + $host.getHost($spofUrl.getValue()))##
                    #if( $foreach.hasNext ) #set($spofDomains = $spofDomains + ",")#end##
                #end##
            #end##

            <a href="#spof-$foreach.count" data-toggle="modal">
            ##
            #parse("report/velocity/inc/pages/columns/${columnName}.vm")
        </a>
        ##
        <a href="http://www.webpagetest.org/?url=$esc.url($results.getChild("u").getValue())&video=1fvonly=1&runs=3&spof=$spofDomains" target="_blank" title="Record a video at webpagetest.org with the spof domains down"> <i class="glyphicon glyphicon-facetime-video"></i>
        ##
        </a>
        ##
        <div class="modal fade" id="spof-$foreach.count">
            ##
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                ##
                <h3 id="spofModalLabel-$foreach.count">
                    ##
                    Single point of failures (#parse("report/velocity/inc/pages/columns/${columnName}.vm"))##
                </h3>
                ##
            </div>
            ##
            <div class="modal-body">
                ##
                <ul>
                    ##
                     #foreach ($spof in $results.getChild("g").getChild("spof").getChild("components").getChildren("item"))##
                    <li>
                        <a href="$esc.html($spof.getValue())" target="_blank" class="url">$esc.html($spof.getValue())</a>
                    </li>
                    ##
                    #end##
                </ul>
                ##
            </div>
            ##
            <div class="modal-footer">
                ##
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                ##
            </div>
            </div>
            </div>
            ##
        </div>
        ##
        #else##
        0##
        #end##
        #else##
        0
        #end##