<div class="nobreak-pages">
    ## The link to the full page info
    #set($file = $results.getAttribute("filename").getValue())
    #set($file = $file.concat(".html"))
    #if ($showscreenshots==true)
        #set($image = $results.getAttribute("filename").getValue())
        #set($image = $image.concat(".png"))
    #end
    <a data-toggle="modal" href="#headers-$foreach.count" title="See the HTTP Headers"> <i class="glyphicon glyphicon-zoom-in"></i></a>#if($showscreenshots==true)
    <a href="screenshots.html#${results.getAttribute("filename").getValue()}">
    <i class="glyphicon glyphicon-picture"></i></a>#end <a href="pages/$file" title="#parse("report/velocity/inc/pages/columns/${columnName}.vm")">#parse("report/velocity/inc/pages/columns/${columnName}.vm")</a>

    <div class="modal fade" id="headers-$foreach.count">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h3>Response headers</h3>
        </div>
        <div class="modal-body">
            <table class="table-hover table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($response in $results.getChild("comps").getChild("item").getChild("headers").getChild("response").getChildren())
                    <tr>
                        <td>$esc.html($response.getName())</td>
                        <td><div class="headers">$esc.html($response.getValue())</div></td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        </div>
        </div>
        </div>

        <div class="modal fade" id="screenshot-$results.getAttribute("filename").getValue()">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        Screenshot
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        </div>
        </div>
        </div>

</div>