#parse("report/velocity/header.vm")
#parse("report/velocity/assets.logic.vm")
#parse("report/velocity/date.macros.vm")
<div class="row-fluid">
	<div class="span12">

		#set ($maxNrOfUrls = 200)
		#set ($toplist=$toplisttool.getMostPopularUrls($maxNrOfUrls)) 
		<h2 class="url">
            The $toplist.size() most used assets for <a href="$document.getRootElement().getChild("url").getValue()" target="_blank">$document.getRootElement().getChild("url").getValue()</a> ($document.getRootElement().getChildren("results").size() pages)
        </h2>
   

		<table class="table table-condensed table-striped table-bordered" id="assetsTable">
			<thead>
				<tr>
					<th data-sort="string">asset</th>
					<th data-sort="string"><span class="visible-desktop visible-tablet">type</span></th>
					<th data-sort="int"><span class="visible-desktop visible-tablet">time since last modification</span><span class="visible-phone">last mod</span></th>
					<th data-sort="int">cache time</th>
					<th data-sort="float">size (kb)</th>
					<th data-sort="int"><span class="visible-desktop visible-tablet">nr of requests</span><span class="visible-phone">r</span></th>
				</tr>
			</thead>
			<tbody>
				#foreach ($entry in $toplist)
				<tr>
					<td class="nobreak-asset-url">

						## Hide this from phones & tables, there is some kind of bug here that make navigations not work if used
							<div class="hidden-phone hidden-tablet">
								<a href="#headers-$foreach.count" data-toggle="modal"> <i class="icon-zoom-in"></i>
								</a>

								<div class="modal hide fade" id="headers-$foreach.count" aria-labelledby="headersModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-header">
										<h3 id="headersModalLabel-$foreach.count">Response headers</h3>
									</div>
									<div class="modal-body">
										<table class="table-hover table-condensed table-striped table-bordered">
											<thead>
												<tr>
													<th>Name</th>
													<th>Value</th>
												</tr>
											</thead>
											<tbody>
												#foreach ($response in $assetAndHeaders.get($entry.getUrl()))
												<tr>
													<td>$esc.html($response.getName())</td>
													<td>$esc.html($response.getValue())</td>
												</tr>
												#end
											</tbody>
										</table>

									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									</div>
								</div>

							</div>

						</div>	


					<a href="$entry.getUrl()" target="_blank">$entry.getUrl()</a></td>
					<td><span class="visible-desktop visible-tablet">$assetAndType.get($entry.getUrl())</span></td>
					#set ($delta = $assetAndNotModifiedSince.get($entry.getUrl()))
					#if ($delta=="" || ! $delta)
						#set ($sort=0)
					#else
					    	#set ($sort=$delta.getSeconds())
					#end	
					<td data-sort-value="$sort">
						#if ($assetAndType.get($entry.getUrl()) == "favicon")
							unknown
						#elseif ($delta=="" || ! $delta)
						     last modified not set
						#else	
						     #prettyPrint($delta)
						#end
					</td>
					#set ($cacheTime = $assetAndCacheTime.get($entry.getUrl()))
					#if ($assetAndType.get($entry.getUrl()) == "favicon")
						#set ($sort=-1)
					#elseif ($cacheTime=="" || !$cacheTime)
					     #set ($sort=0)
					#else	
					     #set ($sort=$cacheTime.getSeconds())
					#end     
					<td  data-sort-value="$sort">
					#if ($assetAndType.get($entry.getUrl()) == "favicon")
						unknown
					#elseif ($cacheTime=="" || !$cacheTime)
					     0
					#else								   
					     #prettyPrint($cacheTime)  
					#end
					</td>
					<td>$assetAndSize.get($entry.getUrl())</td>
					<td>$entry.getNrOfTimes()</td>
				</tr>
				#end
			</tbody>
		</table>
	</div>
</div>
#parse("report/velocity/footer.vm")
<script>
		   $(function(){
        $("#assetsTable").stupidtable();
		 });
		</script>
</body>
</html>