#parse("report/velocity/inc/header.vm")
#parse("report/velocity/logic/assets.logic.vm")
#parse("report/velocity/macros/date.macros.vm")
#parse("report/velocity/macros/util.macros.vm")

<div class="row">
	<div class="col-lg-12">

		#set ($maxNrOfUrls = 200)
		#set ($toplist=$toplisttool.getMostPopularUrls($maxNrOfUrls)) 
		<h2 class="url">
            The $toplist.size() most used assets 
            #if ($document.getRootElement().getChild("url").getValue().length()>0) 
			    for <a href="$document.getRootElement().getChild("url").getValue()" target="_blank">$document.getRootElement().getChild("url").getValue()</a> 
			#end	
            ($document.getRootElement().getChildren("results").size() page#plural($math.toInteger($document.getRootElement().getChildren("results").size())))
        </h2>
		#if ($testname)
			<h3>$testname</h3>
        #end
         <p>
            Test performed  $document.getRootElement().getAttribute("date").getValue() with $document.getRootElement().getChild("results").getChild("i").getValue() rules.
            </p>
            <p>
            <small>
            #if ($siteElement.getChild("ip").getValue() != "unknown")
            <strong>IP:</strong> <em> $document.getRootElement().getAttribute("ip").getValue()</em>
            #end   

            #if ($siteElement.getChild("userAgent").getValue().getValue() != "")
            <strong>User-Agent:</strong> <em>$document.getRootElement().getAttribute("useragent").getValue()</em>
            #end
            #if ($siteElement.getChild("viewPort").getValue() != "")
            <strong>Viewport:</strong> <em>$document.getRootElement().getAttribute("viewport").getValue()</em>
            #end
            </small>
         </p>
        <div class="table-responsive">
		<table class="table table-condensed table-striped table-bordered" id="assetsTable">
			<thead>
				<tr>
					<th data-sort="string">asset</th>
					<th data-sort="string">type</th>
					<th data-sort="int">time since last modification</th>
					<th data-sort="int">cache time</th>
					<th data-sort="float">size (kb)</th>
					<th data-sort="int">nr of requests</th>
				</tr>
			</thead>
			<tbody>
				#foreach ($entry in $toplist)
				<tr>
					<td>
								<a href="#headers-$foreach.count" data-toggle="modal"> <i class="glyphicon glyphicon-zoom-in"></i>
								</a>

								<div class="modal fade" id="headers-$foreach.count">
								 <div class="modal-dialog">
									<div class="modal-content">
									<div class="modal-header">
										<h3 id="headersModalLabel-$foreach.count">Response headers</h3>
									</div>
									<div class="modal-body">
										<table class="table-hover table-condensed table-striped table-bordered">
											<thead>
												<tr>
													<th>Name</th>
													<th>Value</th>
												</tr>
											</thead>
											<tbody>
												#foreach ($response in $assetAndHeaders.get($entry.getUrl()))
												<tr>
													<td>$esc.html($response.getName())</td>
													<td>$esc.html($response.getValue())</td>
												</tr>
												#end
											</tbody>
										</table>

									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									</div>
								</div>
								</div>
								</div>

					<div class="nobreak-asset-url"><a href="$entry.getUrl()" target="_blank">$entry.getUrl()</a></div></td>
					<td>$assetAndType.get($entry.getUrl())</td>
					#set ($delta = $assetAndNotModifiedSince.get($entry.getUrl()))
					#if ($delta=="" || ! $delta)
						#set ($sort=0)
					#else
					    	#set ($sort=$delta.getSeconds())
					#end	
					<td data-sort-value="$sort">
						#if ($delta=="" || ! $delta)
						     last modified not set
						#else	
						     #prettyPrint($delta)
						#end
					</td>
					#set ($cacheTime = $assetAndCacheTime.get($entry.getUrl()))
					#if ($assetAndType.get($entry.getUrl()) == "favicon")
						#set ($sort=-1)
					#elseif ($cacheTime=="" || !$cacheTime)
					     #set ($sort=0)
					#else	
					     #set ($sort=$cacheTime.getSeconds())
					#end     
					<td  data-sort-value="$sort">
					#if ($cacheTime=="" || !$cacheTime)
					     0
					#else								   
					     #prettyPrint($cacheTime)  
					#end
					</td>
					<td>$assetAndSize.get($entry.getUrl())</td>
					<td>$entry.getNrOfTimes()</td>
				</tr>
				#end
			</tbody>
		</table>
		</div>
	</div>
</div>
#parse("report/velocity/inc/footer.vm")
<script>
		   $(function(){
        $("#assetsTable").stupidtable();
		 });
		</script>
</body>
</html>