## Displaying the time since last modification date
## all input are in org.joda.time.Seconds

## These classes are lining in the velocity universe
## $math org.apache.velocity.tools.generic.MathTool
## $header com.soulgalore.velocity.HeaderTool

#macro ( displayLastModDelta $seconds )
#if ($seconds.toStandardDays().getDays()==0)##
$header.getDays($seconds) (#prettyPrint($seconds))##
#elseif ($seconds.toStandardDays().getDays()>365)##
$seconds.toStandardDays().getDays() (#prettyPrint($seconds))##
#else##	
$seconds.toStandardDays().getDays()##
#end##	    
#end##

## crazy velocity style to avoid spaces
#macro ( prettyPrint $seconds )
#if (!$seconds)##
#elseif ($seconds.getSeconds() == 0)##
0 s##
#elseif ($seconds.toStandardWeeks().getWeeks() > 52 )##
$math.roundTo(1,$math.div($seconds.toStandardWeeks().getWeeks(),52)) years##
#elseif ($seconds.toStandardDays().getDays() > 0)##
$seconds.toStandardDays().getDays()  days##
#elseif ($seconds.toStandardHours().getHours() > 0)##
$seconds.toStandardHours().getHours()  hours##
#elseif ($seconds.toStandardMinutes().getMinutes() > 0)##
$seconds.toStandardMinutes().getMinutes()  minutes##
#else##
$seconds.getSeconds() seconds##
#end#end##