#parse("report/velocity/inc/header.vm")

<div class="row">
	<div class="col-lg-12">

		<h2>
			These pages could not be analyzed
		</h2>

		 #foreach ($url in $document.getRootElement().getChildren())
                #set ($urlAndReferer =$url.getValue())
                #if ($urlAndReferer.indexOf("from")>-1)
                 #set ($urlAndRefererArray = $urlAndReferer.split("from"))
                 <p>$url.getAttribute("reason").getValue() : <a href="$urlAndRefererArray[0]" target="_blank">$urlAndRefererArray[0]</a> linked from <a href="$urlAndRefererArray[1]">$urlAndRefererArray[1]</a></p>
                #else
		      <p>$url.getAttribute("reason").getValue() : <a href="$url.getValue()" target="_blank">$url.getValue()</a></p>
	           #end
            #end

	</div>
	<!-- span 12 -->
</div>
<!-- row -->
#parse("report/velocity/inc/footer.vm")
</body>
</html>
