#parse("report/velocity/inc/header.vm")

<div class="row">
	<div class="col-lg-12">

		<h2>
			These pages could not be analyzed
		</h2>

		 #foreach ($url in $document.getRootElement().getChildren())
		 <p>$url.getAttribute("reason").getValue() : <a href="$url.getValue()" target="_blank">$url.getValue()</a></p>
		 #end

	</div>
	<!-- span 12 -->
</div>
<!-- row -->
#parse("report/velocity/inc/footer.vm")
</body>
</html>
