  <footer>
    <hr/>  
    <p>
      <a href="http://sitespeed.io">Sitespeed.io</a>
      written by
      <a href="https://twitter.com/soulislove">@soulislove</a>
    </p>
  </footer>

  </div>
  <!-- /container -->  
  <script src="$!{pathToIncludes}js/all.js"></script>
 