<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>#if($!{document.getRootElement().getAttribute("host")})
    $document.getRootElement().getAttribute("host").getValue()
    - $pageTitle
    #else
    $pageTitle - 
    $document.getRootElement().getChild("u").getValue()
    #end
    </title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <meta name="description" content="$pageDescription">
  <meta name="robots" content="noindex" />
  <link rel="stylesheet" href="$!{pathToIncludes}css/styles.css">

  <style type="text/css">
   
    body {
        padding-top: 55px;
        padding-bottom: 40px;
    }

    ## Overridding the links in navigation, defect in bootstrap if I remember correctly
    .navbar .nav > li > a {
      font-weight: bold;
      color:white;
    }

    footer p {
    text-align: center;
    }

    ## Font used in the number in summary
    .large {
      font-family: Tahoma,Impact,Verdana,sans-serif;
      font-size: 32px;
      line-height: 38px;
      font-weight:bold;
    }

    ## Taking care of urls not breaking the table in pages
    .nobreak-pages {
    word-wrap: break-word;
    max-width: 290px;
    }

    ## Taking care of assets not breaking 
    .nobreak-page {
    word-wrap: break-word;
    max-width: 450px;
    }

    ## Taking care of urls not breaking the table in pages
    .nobreak-page-url {
    word-wrap: break-word;
    max-width: 500px;
    }


    .logo {
      padding: 0px; 
      float: left; 
      margin-left: -20px; 
      border:0px;
    }

    ##  When displaying urls, making sure they don't break pages
    .url {
    word-wrap: break-word;
    }

    ## Popovers on summary page
    .popover-content {
    color: black;
    font-size: 16px;
    line-height: 18px;
    font-weight:normal;
    }
    
     ## Popovers on summary page
    .popover-title {
    color: black;
    font-weight:bold;
    font-size: 16px;
    line-height: 18px;
    }

    ## Overiding bootstrap
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: white;
    background-color: #0073b0;
    }

    .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: white;
    background-color: #0095d2;
    }

    a.alert-success:hover {
    text-decoration: none;
    color: #468847;
    cursor:pointer;
    }

    a.alert-error:hover {
    text-decoration: none;
    color: #B94A48;
    cursor:pointer;
    }

    a.alert-warning:hover {
    text-decoration: none;
    color: #C09853;
    cursor:pointer;
    }

    a.alert-warning {
    text-decoration: none;
    color: #C09853;
    cursor:pointer;
    }

    @media (min-width: 980px) and (max-width: 1199px) {

    .table th {
    font-size: 12px;
    line-height: 14px;
    }
    }


    ## Small tablets
    @media (max-width:979px) {

    body {
    font-size: 12px;
    line-height: 16px;
    }

    ## Popovers on summary page
    .popover-content {
    font-size: 12px;
    line-height: 16px;
    }
    
     ## Popovers on summary page
    .popover-title {
    font-size: 12px;
    line-height: 16px;
    }

     .table th {
    font-size: 10px;
    line-height: 12px;
    }
  
    .nobreak-pages {
    max-width: 100px;
    }

    .label, .badge {
    font-size: 12px;
    line-height: 16px;
    }
}

    ## Phones
    @media (max-width:767px) {

    .table th {
    font-size: 10px;
    line-height: 12px;
    }  

    .logo {
    margin-left: 20px;
    }

    h2 {
    font-size: 16px;
    line-height: 20px;
    }

    h3 {
    font-size: 14px;
    line-height: 18px;
    }


    .label, .badge {
    font-size: 10px;
    line-height: 12px;
    }

    .badge {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }

    .nobreak-pages {
    max-width: 70px;
    }

    .nobreak-page {
     max-width: 100px;
    }

    .nobreak-page-url {
    max-width: 100px;
    }

    .nobreak-rules {
     max-width: 100px;
    }

}
  </style>

  <link rel="shortcut icon" href="$!{pathToIncludes}img/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="$!{pathToIncludes}img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="$!{pathToIncludes}img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="$!{pathToIncludes}img/apple-touch-icon-72-precomposed.png">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
 <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <img src="$!{pathToIncludes}img/sitespeed-logo.gif" class="logo" width="90" height="40" alt="Sitespeed.io - How speedy is your site?"/>
        <div class="nav-collapse">
          <ul class="nav">
            <li#if( $pageMenu == "summary" ) class="active" #end>
              <a href="$!{pathToIncludes}index.html">Summary</a>
            </li>
            <li#if( $pageMenu == "pages" ) class="active" #end>
              <a href="$!{pathToIncludes}pages.html">All pages</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse --> </div>
    </div>
  </div>
  <!--/.navbar -->

  <div class="container">
