## Limits & rules macros
##

## These classes are lining in the velocity universe
## $math org.apache.velocity.tools.generic.MathTool
## $esc org.apache.velocity.tools.generic.EscapeTool
## $host com.soulgalore.velocity.HostTool
## $stats org.apache.commons.math3.stat.descriptive.DescriptiveStatistics
## $document org.jdom2.Document


## Verify the Sitespeed/Yslow score, over 90 is good
#macro( scoreType $score )
#if ($score>89.99)success#elseif ($score>80)
warning#else
error#end#end

## Verify the Yslow score, over 90 is good
## Fix for bootstrap, different class names, different areas
## this is for the badge
#macro( scoreTypeBadge $score )
#if ($score>89.99)success#elseif ($score>80)
warning#else
important#end#end


## Verify number of JS, 2 is ok (analythics & one combined :)		
#macro ( jsType $js )
#if ($js<3)success#elseif ($js<5)
warning#else
error#end#end

## Verify number of CSS, yes have one combined
#macro ( cssType $css )
#if ($css<3)success#elseif ($css<4)
warning#else
error#end#end

## Verify number of requests for a page, below 25 is ok
#macro ( requestType $r )
#if ($r<25)success#elseif ($r<50)
warning#else
error#end#end	

## Verify the number of CSS images, 1 is like perfect
#macro ( cssImageType $cssImage )
#if ($cssImage<2)success#elseif ($cssImage<5)
warning#else
error#end#end	

## Verify number of images on page, below 25 is ok for now
#macro ( imageType $image )
#if ($image<25)success#elseif ($image<40)
warning#else
error#end#end

## Verify the how many requests that are cached, perfect world only the page & 
## analythics should not be cached, else if 90% are primed, thats ok
#macro ( requestPrimedType $requests $requestPrimed )
#if ($requestPrimed<3)success#elseif ($math.div($math.sub($requests,$requestPrimed),$requests)>0.90)
warning#else
error#end#end

## Verify the total page wight (including all assets). Below 1 mb is ok
#macro ( weightType $weight )
#if ($weight<1000000)success#elseif ($weight<1500000)
warning#else
error#end#end

## Verify the doc weight, needs to be small for mobile, should also 
## take inconcideration total weight.
## in the future when we can check gzip, these values should be smaller 
#macro ( weightMobileType $weight )
#if ($weight<100000)success#elseif ($weight<150000)
warning#else
error#end#end

## Verify the spof, if one or more, error!
#macro ( spofType $spof )
#if ($spof>0)error#else
success#end#end

## Verify the js loaded sync in head, if one or more, error!
#macro ( totalJsSyncInHeadType $js )
#if ($js<1)success#else
error#end#end        

## The percent of javascript with HTML
#macro ( percentageJavascriptOnPageType $averagePercent )
#if ($averagePercent<50)success#elseif ($averagePercent>75)
error#else
warning#end#end

## Verify assets without far expires date
#macro ( expiresType $expires )
#if ($expires<1)success#elseif ($expires<5)
warning#else
error#end#end