#set ($output = 'url,js,css,images,cssimages,fonts,requests,requests missing expire,doc size (kb),page size (kb),critical path score,load time (s),spof,js sync, ttfb (s), score
')
#foreach ($results in $document.getRootElement().getChildren("results"))
#set($sitespeed = $results.getChild("o").getValue())
## The url
#set ( $output = $output + $results.getChild("curl").getValue() + ',') 
## The number of javascripts
#if($!{results.getChild("stats").getChild("js").getChild("r")})
#set ( $output = $output + $results.getChild("stats").getChild("js").getChild("r").getValue() + ',')                     
#else
#set ( $output = $output +  '0,') 
#end
## The number of css
#if($!{results.getChild("stats").getChild("css").getChild("r")})    
#set ( $output = $output + $results.getChild("stats").getChild("css").getChild("r").getValue() + ',')
#else
#set ( $output = $output +  '0,')                
#end
## The number of images
#if($!{results.getChild("stats").getChild("image").getChild("r")})
#set ( $output = $output +$results.getChild("stats").getChild("image").getChild("r").getValue() + ',')
#else
 #set ( $output = $output +  '0,') 
#end
## The numbeer of css images
#if($!{results.getChild("stats").getChild("cssimage").getChild("r")})
#set ( $output = $output + $results.getChild("stats").getChild("cssimage").getChild("r").getValue() + ',')
#else
#set ( $output = $output +  '0,') 
#end
## The number of fonts
#if($!{results.getChild("stats").getChild("font").getChild("r")})
#set ( $output = $output + $results.getChild("stats").getChild("font").getChild("r").getValue() + ',')
#else
#set ( $output = $output +  '0,') 
#end
## The number of requests
#set ( $output = $output + $results.getChild("r").getValue() + ',')
## The number of requests missing expires
#set ( $output = $output + $results.getChild("g").getChild("expiresmod").getChild("components").getChildren("item").size() + ',')
## The size of the document
#set ( $output = $output + $math.roundTo(1,$math.div($results.getChild("stats").getChild("doc").getChild("w").getValue(),1000)) + ',')
## The size of the page
#set($totalWeight = 0)
#foreach ($asset in $results.getChild("comps").getChildren())
	#set($totalWeight = $math.add($totalWeight,$asset.getChild("size").getValue()))
#end
#set ( $output = $output +  $math.roundTo(1,$math.div($totalWeight,1000)) + ',')
## The critical path score
#set ( $output = $output + $results.getChild("g").getChild("criticalpath").getChild("score").getValue() + ',')
## The load time
#set ( $output = $output + $math.div($results.getChild("lt").getValue(),1000) + ',')
## The number of components that can create a SPOF
#set ( $output = $output + $results.getChild("g").getChild("spof").getChild("components").getChildren("item").size() + ',')
## The number of javascripts loaded sync in head
#set ( $output = $output + $results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item").size() + ',')
## The time to first byte 
#set ( $output = $output + $results.getAttribute("ttfb").getValue() + ',')
## The sitespeed/yslow score
#set ( $output = $output +$sitespeed + '
')
#end
${output}
