## setting up some base values

## Sometimes getting the js directly from the stats object gives wrong values, so
## let's calculate them one by one
#set($jsWeightCounted = 0)
#foreach ($asset in $document.getRootElement().getChild("comps").getChildren())
	#if ($asset.getChild("type").getValue() == "js")
		#set($jsWeightCounted = $math.add($jsWeightCounted,$asset.getChild("size").getValue()))
	#end
#end


#set($jsWeight = $math.max($math.roundTo(3,$math.div($jsWeightCounted,1000)),0))
#set($cssWeight = $math.max($math.roundTo(3,$math.div($document.getRootElement().getChild("stats").getChild("css").getChild("w").getValue(),1000)),0))
#set($docWeight = $math.roundTo(3,$math.div($document.getRootElement().getChild("stats").getChild("doc").getChild("w").getValue(),1000)))
#set($imageWeight = $math.roundTo(3,$math.div($document.getRootElement().getChild("stats").getChild("image").getChild("w").getValue(),1000)))
#set($cssImageWeight = $math.roundTo(3,$math.div($document.getRootElement().getChild("stats").getChild("cssimage").getChild("w").getValue(),1000)))

#if(!$cssImageWeight) #set($cssImageWeight=0) #end 
#if(!$imageWeight) #set($imageWeight=0) #end 
#if(!$jsWeight) #set($jsWeight=0) #end 
#if(!$cssWeight) #set($cssWeight=0) #end
#set($contentWeight = $math.add($jsWeight,$math.add($cssWeight,$docWeight)))
#if(!$contentWeight) #set($contentWeight=0) #end

#set($cssPercentage = $math.roundTo(1,$math.mul($math.div($cssWeight,$contentWeight),100)))
#set($jsPercentage = $math.roundTo(1,$math.mul($math.div($jsWeight,$contentWeight),100)))

#if(!$cssPercentage) #set($cssPercentage=0) #end
#if(!$jsPercentage) #set($jsPercentage=0) #end
