    #parse("report/velocity/header.vm")
    #parse("report/velocity/macros.vm")
    <div class="row">
        <div class="span12">

            <h2>
                Pages ($document.getRootElement().getChildren().size()) - <a href="$document.getRootElement().getAttribute("url").getValue()" target="_blank">$document.getRootElement().getAttribute("url").getValue()</a>
            </h2>
            <p>
            Test performed: $document.getRootElement().getAttribute("date").getValue() with rules $document.getRootElement().getChild("results").getChild("i").getValue()
            </p>

            <table class="table table-hover table-condensed table-striped table-bordered" id="pagesTable" >
                <thead>
                    <tr>
                        <th>
                            <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="The url to the page">url</i>
                        </a>
                    </th>
                    <th>

                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The number of javascript files used in this page">js</a>
                    </th>

                    <th>

                        <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="The number of stylesheet files used in this page">css</a>

                    </th>
                    <th>

                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The number of image files used in this page">img</a>

                    </th>

                    <th>
                        <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="The number of css images used on this page">css img</a>

                    </th>

                    <th>
                        <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="The number of fonts used on this page">font</a>

                    </th>

                    <th>
                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The total number of requests for this page">total request</a>
                    </th>
                    <th>
                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The total number of requests for this page with primed cache">total request (cached)</a>
                    </th>

                    <th>
                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The document size (kb)">doc size</a>
                    </th>

                    <th>
                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The page total size when no assets are cached (kb)">page size</a>
                    </th>

                    <th>
                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The page total size, including everything in the page with a primed cache (kb)">page size (cached)</a>
                    </th>

                    <th>
                        <a rel="tooltip" data-placement="top" data-html="false" href="#" data-original-title="The page load time in ms">page load time</a>
                    </th>

                    <th>
                        <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="The numbert of possible frontend single point of failures, be sure to avoid 3rd party assets">spof</a>
                    </th>

                    <th>
                        <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="The number of js loaded synchronously inside of head">sync js</a>
                    </th>

                    <th>
                        <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="The Yslow/Sitespeed grade for this page, 100 is perfect, 0 is incredible bad">grade</a>
                    </th>

                    <th>
                        <a rel="tooltip"  data-placement="top" data-html="false" href="#" data-original-title="Test this page on http://webpagetest.org">wpt</a>
                    </th>

                </tr>
            </thead>

            <tbody>
                #foreach ($results in $document.getRootElement().getChildren())
        #set($yslow = $results.getChild("o").getValue())
                <tr>
                    <td class="nobreak" style="max-width: 290px;">
                        #set($file = $results.getAttribute("filename").getValue())
                         #set($file = $file.concat(".html"))
                        <a href="#headers-$foreach.count" data-toggle="modal"><i class="icon-zoom-in"></i></a> <a href="pages/$file" title="$results.getChild("u").getValue()">$results.getChild("u").getValue()</a>

                        <div class="modal hide fade" id="headers-$foreach.count" show="false" aria-labelledby="headersModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-header">
                                <h3 id="headersModalLabel-$foreach.count">Response headers</h3>
                            </div>
                            <div class="modal-body">
                                <table class="table-hover table-condensed table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        #foreach ($response in $results.getChild("comps").getChild("item").getChild("headers").getChild("response").getChildren())
                                        <tr>
                                            <td>$esc.html($response.getName())</td>
                                            <td>$esc.html($response.getValue())</td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>

                    </td>
                    <td>
                        #if($!{results.getChild("stats").getChild("js").getChild("r")})
                            $results.getChild("stats").getChild("js").getChild("r").getValue()
                         #else
                         0
                         #end
                    </td>
                    <td>
                        #if($!{results.getChild("stats").getChild("css").getChild("r")})    
                            $results.getChild("stats").getChild("css").getChild("r").getValue()
                        #else
                        0
                        #end
                    </td>
                    <td>
                        #if($!{results.getChild("stats").getChild("image").getChild("r")})
                            $results.getChild("stats").getChild("image").getChild("r").getValue()
                        #else
                            0
                        #end
                    </td>
                    <td>
                        #if($!{results.getChild("stats").getChild("cssimage").getChild("r")})
                            $results.getChild("stats").getChild("cssimage").getChild("r").getValue()
                            #else
                            0
                        #end
                    </td>
                    <td>
                        #if($!{results.getChild("stats").getChild("font").getChild("r")})
                            $results.getChild("stats").getChild("font").getChild("r").getValue()
                            #else
                            0
                        #end
                    </td>

                    <td>$results.getChild("r").getValue()</td>
                    <td>$results.getChild("r_c").getValue()</td>

                    <td>
		    $math.roundTo(1,$math.div($results.getChild("stats").getChild("doc").getChild("w").getValue(),1000))
                    </td>

                    <td>$math.roundTo(1,$math.div($results.getChild("w").getValue(),1000))</td>

                    <td>
			## sometimes it seems like yslow can't fetch this value. when this happens output an sign
			#if($math.toInteger($results.getChild("w_c").getValue()) > 0)
			$math.roundTo(1,$math.div($results.getChild("w_c").getValue(),1000))
			#else
			<a href="#" alt="Couldn't fetch the value" title="Couldn't fetch the value"><i class="icon-question-sign"></i></a>
			#end
		    </td>

                    <td>$results.getChild("lt").getValue()</td>

                    <td>
                        #if ($results.getChild("g").getChild("spof").getChild("components").getChildren("item").size() > 0)

                        #set($spofDomains = "")

                        #foreach ($spofUrl in $results.getChild("g").getChild("spof").getChild("components").getChildren("item"))
                            #set($spofDomains = $spofDomains + $host.getHost($spofUrl.getValue()) + ",")
                        #end

                        <a href="#spof-$foreach.count" data-toggle="modal">
                            $results.getChild("g").getChild("spof").getChild("components").getChildren("item").size()
                        </a>
                        
                        <a href="http://www.webpagetest.org/?url=$esc.url($results.getChild("u").getValue())&video=1&fvonly=1&runs=3&spof=$spofDomains" target="_blank" title="Record a video at webpagetest.org with the spof domains down"> <i class="icon-facetime-video"></i>
                        </a>
                        
                        <div class="modal hide fade" id="spof-$foreach.count" show="false" aria-labelledby="jsModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-header">
                                <h3 id="spofModalLabel-$foreach.count">
                                    Single point of failures ($results.getChild("g").getChild("spof").getChild("components").getChildren("item").size())
                                </h3>
                            </div>
                            <div class="modal-body">
                                <ul>
                                #foreach ($spof in $results.getChild("g").getChild("spof").getChild("components").getChildren("item"))

                                <li><a href="$esc.html($spof.getValue())" target="_blank">$esc.html($spof.getValue())</a></li>
                                   
                                #end
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                        #else
                            $results.getChild("g").getChild("spof").getChild("components").getChildren("item").size()
                        #end
                    </td>

                    <td>
                        #if ($results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item").size() >0)
                        <a href="#js-sync-$foreach.count" data-toggle="modal">
                            $results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item").size()
                        </a>

                        <div class="modal hide fade" id="js-sync-$foreach.count" show="false" aria-labelledby="jsModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-header">
                                <h3 id="jsModalLabel-$foreach.count">
                                    Javascript loaded synchronously in head ($results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item").size())
                                </h3>
                            </div>
                            <div class="modal-body">
                                <ul>
                                #foreach ($jssync in $results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item"))
                                <li><a href="$esc.html($jssync.getValue())" target="_blank">$esc.html($jssync.getValue())</a></li>    
                                #end
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                        #else
                            $results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item").size()
                        #end
                    </td>

                    <td>
                        <span class="badge badge-#scoreTypeBadge($math.toInteger($yslow))">$yslow</span>
                    </td>

                    <td>
                        <a href="http://www.webpagetest.org/?url=$esc.url($results.getChild("u").getValue())&runs=3" target="_blank" title="Check this page on webpagetest.org"> <i class="icon-time"></i>
                        </a>
                    </td>

                </tr>
                #end
            </tbody>
        </table>

    </div>
    </div>
    #parse("report/velocity/footer.vm")
  <script>
  $(document).ready(function() 
    { 
        $("#pagesTable").tablesorter(); 
    } 
  );
</script>

  <script>

   $(function () {
    $('.container').tooltip({
      selector: "a[rel=tooltip]"
    })
}) 
</script>

</body>
</html>
