#parse("report/velocity/header.vm")
<div class="row">
	<div class="span12">

		<h2>
			Page
			<a href="$document.getRootElement().getChild("u").getValue()" target="_blank">$document.getRootElement().getChild("u").getValue()</a>
			(score: $document.getRootElement().getChild("o").getValue())
		</h2>

		<h3>Scores below 100</h3>

		<p><a href="#assets">See all the assets on this page.</a></p>	

		<table class="table table-condensed table-striped table-bordered" >
			<thead>
				<tr>
					<th>Rule</th>
					<th>Score</th>
					<th>Message</th>
					<th>Extra</th>
				</tr>
				<tbody>
					#foreach ($message in $document.getRootElement().getChild("g").getChildren())
	 
		#if($!{message.getChild("score").getValue()})	 
	  
			#if($message.getChild("score").getValue()!="100")
					<tr>
						<td>
								$document.getRootElement().getChild("dictionary").getChild("rules").getChild($message.getName()).getChild("name").getValue()
						</td>


		    				<td>$message.getChild("score").getValue()</td>
		    				<td>$message.getChild("message").getValue()</td>
		    				<td class="nobreak" style="max-width: 450px;">
		    					#foreach ($item in $message.getChild("components").getChildren("item"))
		    					<p>$item.getValue()</p>
		    					#end
		    				</td>
		    			</tr>
		    			#end	 
		#end	 
	 #end
				</tbody>
			</table>


			<h3 id="assets">Page assets</h3>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>url</th>
						<th>type</th>
						<th>size</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($asset in $document.getRootElement().getChild("comps").getChildren())
					<tr>

						<td class="nobreak" style="max-width: 500px;">
						<a href="#headers-$foreach.count" data-toggle="modal"><i class="icon-zoom-in"></i></a>

                        <div class="modal hide fade" id="headers-$foreach.count" show="false" aria-labelledby="headersModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-header">
                                <h3 id="headersModalLabel-$foreach.count">Response headers</h3>
                            </div>
                            <div class="modal-body">
                                <table class="table-hover table-condensed table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        #foreach ($response in $asset.getChild("headers").getChild("response").getChildren())
                                        <tr>
                                            <td>$esc.html($response.getName())</td>
                                            <td>$esc.html($response.getValue())</td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>


					<a href="$asset.getChild("url").getValue()" title="$asset.getChild("url").getValue()" target="_blank">$asset.getChild("url").getValue()</a></td>
					<td>$asset.getChild("type").getValue()</td>
					<td>$asset.getChild("size").getValue()</td>

				</tr>
				#end
			</tbody>
		</table>
	</div>
	<!-- span 12 -->
</div>
<!-- row -->
#parse("report/velocity/footer.vm")
</body>
</html>
