#parse("report/velocity/header.vm")
#parse("report/velocity/date.macros.vm")
#parse("report/velocity/page.logic.vm")
<div class="row-fluid">
	<div class="span12">

		<h2 class="url">
			Page
			<a href="$document.getRootElement().getChild("curl").getValue()" target="_blank">$document.getRootElement().getChild("curl").getValue()</a>
			(score: $document.getRootElement().getChild("o").getValue())
		</h2>

		<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="#score">Scores below 100</a>
			</li>
			<li>
				<a href="#assets">Page assets</a>
			</li>
			<li>
				<a href="#summary">Page summary</a>
			</li>
			<li>
				<a href="http://www.webpagetest.org/?url=$esc.url($document.getRootElement().getChild("u").getValue())&runs=3" target="_blank" title="Test this page on http://webpagetest.org">Test on webpagetest.org</a>
			</li>

		</ul>

		<h3 id="score">Scores below 100</h3>

		<table class="table table-condensed table-striped table-bordered" >
			<thead>
				<tr>
					<th>Rule</th>
					<th>Score</th>
					<th>Message</th>
					<th>Extra</th>
				</tr>
				<tbody>
					#foreach ($message in $document.getRootElement().getChild("g").getChildren())
						#if($!{message.getChild("score").getValue()})	 
						     #if($message.getChild("score").getValue()!="100")
					<tr>
						<td>
							$document.getRootElement().getChild("dictionary").getChild("rules").getChild($message.getName()).getChild("name").getValue()
						</td>
						<td>$message.getChild("score").getValue()</td>
						<td>$message.getChild("message").getValue()</td>
						<td class="nobreak-page">
							## This is just too much information to show on a phone
							<span class="hidden-phone">
								#foreach ($item in $message.getChild("components").getChildren("item"))
								<p>$item.getValue()</p>
								#end
							</span>
						</td>
					</tr>
					#end	 
					    	#end	 
					#end
				</tbody>
			</table>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">

			<h3 id="assets">Page assets</h3>
			<table class="table table-condensed table-striped table-bordered" id="assetsTable">
				<thead>
					<tr>
						<th data-sort="string">url</th>
						<th data-sort="string">type</th>
						<th data-sort="int">time since last modification</th>
						<th data-sort="int">cache time</th>
						<th data-sort="float">size</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($asset in $document.getRootElement().getChild("comps").getChildren())

							## reset values for the loop
							#set ($lastMod = "")
							#set ($date = "")
							#set ($cacheControl = 0)
							#set ($expires = "")
					<tr>

						<td class="nobreak-page-url">
							## Hide this from phones & tables, there is some kind of bug here that make navigations not work if used
							<div class="hidden-phone hidden-tablet">
								<a href="#headers-$foreach.count" data-toggle="modal"> <i class="icon-zoom-in"></i>
								</a>

								<div class="modal hide fade" id="headers-$foreach.count" aria-labelledby="headersModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-header">
										<h3 id="headersModalLabel-$foreach.count">Response headers</h3>
									</div>
									<div class="modal-body">
										<table class="table-hover table-condensed table-striped table-bordered">
											<thead>
												<tr>
													<th>Name</th>
													<th>Value</th>
												</tr>
											</thead>
											<tbody>
												#foreach ($response in $asset.getChild("headers").getChild("response").getChildren())
												<tr>
													<td>$esc.html($response.getName())</td>
													<td>$esc.html($response.getValue())</td>
												</tr>
												#end
											</tbody>
										</table>

									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									</div>
								</div>

							</div>

						</div>
						<a href="$asset.getChild("url").getValue()" title="$asset.getChild("url").getValue()" target="_blank">$asset.getChild("url").getValue()</a>
					</td>
					<td>$asset.getChild("type").getValue()</td>
					## Special hack since favicon not working
							#if ($asset.getChild("type").getValue() != "favicon")
								#set ($lastMod = $asset.getChild("headers").getChild("response").getChild("Last-Modified").getValue())
								#set ($date = $asset.getChild("headers").getChild("response").getChild("Date").getValue())
								#set ($cacheControl = $asset.getChild("headers").getChild("response").getChild("Cache-Control").getValue())
								#set ($expires = $asset.getChild("headers").getChild("response").getChild("Expires").getValue())
								
								#set ($delta = $header.getDelta($lastMod,$date))
								#if ($delta=="" || ! $delta)
									#set ($sort=0)
								#else
								    #set ($sort=$delta.getSeconds())
								    $statsTimeSinceLastModificationInSeconds.addValue($delta.getSeconds())
								#end	
							#else
							#set ($sort=-1)
							#end
					<td data-sort-value="$sort">
						#if ($asset.getChild("type").getValue() == "favicon")
							unknown
							#elseif ($delta=="" || ! $delta)
							     last modified not set
							#else	
							     #prettyPrint($delta)
							#end
					</td>
					#set ($cacheTime = $header.getCacheTime($cacheControl, $expires, $date))
							#if ($asset.getChild("type").getValue() == "favicon")
								#set ($sort=-1)
							#elseif ($cacheTime=="" || !$cacheTime)
							     #set ($sort=0)
							     $statsAssetCacheTimeInSeconds.addValue(0)
							#else	
							     #set ($sort=$cacheTime.getSeconds())
							     $statsAssetCacheTimeInSeconds.addValue($cacheTime.getSeconds())
							#end
					<td data-sort-value="$sort">
						#if ($asset.getChild("type").getValue() == "favicon")
								unknown
							#elseif ($cacheTime=="" || !$cacheTime)
							     0
							#else								   
							     #prettyPrint($cacheTime)  
							#end
					</td>
					#set ($size=$math.roundTo(1,$math.div($asset.getChild("size").getValue(),1000)))
					<td data-sort-value="$size">$size kb</td>

				</tr>
				#end
			</tbody>
		</table>

	</div>
	<!-- span 12 -->
</div>
<!-- row -->

<h3 id="summary">Page summary</h3>

<div class="row-fluid">
	<div class="span6">

		<h4>Requests per Content-Type</h4>
		<table class="table table-condensed table-striped table-bordered">
			<tbody>
				#if ($math.toInteger($nrOfJs)>0)
				<tr>
					<td>javascript</td>
					<td>$nrOfJs</td>
				</tr>
				#end
							#if ($math.toInteger($nrOfCss)>0)
				<tr>
					<td>css</td>
					<td>$nrOfCss</td>
				</tr>
				#end
							#if ($math.toInteger($nrOfImages)>0)
				<tr>
					<td>images</td>
					<td>$nrOfImages</td>
				</tr>
				#end
							#if ($math.toInteger($nrOfCssImages)>0)
				<tr>
					<td>css images</td>
					<td>$nrOfCssImages</td>
				</tr>
				#end
							#if ($math.toInteger($nrOfFonts)>0)
				<tr>
					<td>font</td>
					<td>$nrOfFonts</td>
				</tr>
				#end
							#if ($math.toInteger($nrOfFavicons)>0)
				<tr>
					<td>favicon</td>
					<td>$nrOfFavicons</td>
				</tr>
				#end
							#if ($math.toInteger($nrOfFlash)>0)
				<tr>
					<td>flash</td>
					<td>$nrOfFlash</td>
				</tr>
				#end
				<tr>
					<td>other</td>
					<td>$otherRequests</td>
				</tr>
				<tr>
					<td> <strong>total</strong>
					</td>
					<td>$totalRequests</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="span6">
		<h4>Size per Content-Type</h4>
		<table class="table table-condensed table-striped table-bordered">
			<tbody>
				<tr>
					<td>doc</td>
					<td>$docWeightCurl ($docWeight) kb</td>
				</tr>
				#if ($jsWeight>0)
				<tr>
					<td>js</td>
					<td>$jsWeight kb (gzip unknown)</td>
				</tr>
				#end
							#if ($cssWeight>0)
				<tr>
					<td>css</td>
					<td>$cssWeight kb (gzip unknown)</td>
					<tr>
						#end
							#if ($imageWeight>0)
						<tr>
							<td>images</td>
							<td>$imageWeight kb</td>
						</tr>
						#end
							#if ($cssImageWeight>0)
						<tr>
							<td>css images</td>
							<td>$cssImageWeight kb</td>
						</tr>
						#end
							#if ($flashWeight>0)
						<tr>
							<td>flash</td>
							<td>$flashWeight kb</td>
						</tr>
						#end
							#if ($otherWeight>0)
						<tr>
							<td>other</td>
							<td>$otherWeight kb</td>
						</tr>
						#end
						<tr>
							<td> <strong>total</strong>
							</td>
							<td>$totalWeight kb</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row-fluid">

			<div class="span6">
				<h4>Requests per Domain</h4>
				<table class="table table-condensed table-striped table-bordered">
					<tbody>
						#foreach ($entry in $hostAndRequests.entrySet())
						<tr>
							<td>$entry.getKey()</td>
							<td>$entry.getValue()</td>
						</tr>
						#end
					</tbody>
				</table>
			</div>
			<div class="span6">

				<h4>Special</h4>
				<table class="table table-condensed table-striped table-bordered">
					<tbody>
						<tr>
							<td>requests with primed cache</td>
							<td>$document.getRootElement().getChild("r_c").getValue()</td>
						</tr>

						<tr>
							<td>content weight that are js files</td>
							<td>$jsPercentage %</td>
						</tr>
						<tr>
							<td>content weight that are css files</td>
							<td>$cssPercentage %</td>
						</tr>
						<tr>
							<td>page weight cached</td>
							<td>
								## The weight cached
								## sometimes it seems like yslow can't fetch this value. when this happens output an sign
								#if($math.toInteger($document.getRootElement().getChild("w_c").getValue()) > 0)
									$math.roundTo(1,$math.div($document.getRootElement().getChild("w_c").getValue(),1000)) kb
								#else
								<a href="#" title="Couldn't fetch the value"> <i class="icon-question-sign"></i>
								</a>
								#end
							</td>
						</tr>
						<tr>
							<td>ttfb</td>
							<td>$document.getRootElement().getAttribute("ttfb").getValue() s</td>
						</tr>
						<tr>
							<td>load time</td>
							<td>
								$math.div($document.getRootElement().getChild("lt").getValue(), 1000) s
							</td>
						</tr>
						<tr>
							<td>content percentage of the page</td>
							<td>
								$document.getRootElement().getChild("g").getChild("textcontent").getChild("components").getChildText("item") %
							</td>
						</tr>
						<tr>
							<td>average time since last modification</td>
							<td>
								#prettyPrint($header.getSeconds($math.toInteger($statsTimeSinceLastModificationInSeconds.getMean())))
							</td>
						</tr>
						<tr>
							<td>average cache time</td>
							<td>
								#prettyPrint($header.getSeconds($math.toInteger($statsAssetCacheTimeInSeconds.getMean())))
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		#parse("report/velocity/footer.vm")
		<script>
		   $(function(){
        $("#assetsTable").stupidtable();
		 });
		</script>
		<script>

   $(function () {
    $('.container').tooltip({
      selector: "a[rel=tooltip]"
    })
}) 
</script>

</body>
	</html>