#parse("report/velocity/inc/header.vm")
<div class="row">
	<div class="col-lg-12">

		<h2>
			The rules
		</h2>

		<p>
			The rules are a mashup between classic YSlow rules & new sitespeed.io rules, all are based on performance best practices. The current version of the rules is $document.getRootElement().getChild("i").getValue()
		</p>

		
					#foreach ($rule in $document.getRootElement().getChild("dictionary").getChild("rules").getChildren())
						<h3 id="$rule.getName()">$rule.getChild("name").getValue() <em class="url">($rule.getName())</em></h3>
						<p>$rule.getChild("info").getValue() <em>Weight: $rule.getChild("weight").getValue()</em></p>
					#end
		

	</div>
	<!-- span 12 -->
</div>
<!-- row -->
#parse("report/velocity/inc/footer.vm")
</body>
</html>
