#parse("report/velocity/inc/header.vm")
<div class="row">
	<div class="col-lg-12">

		<h2>
			The screenshots for viewport $viewport
		</h2>


		#set ($imgs = $images.split("@"))
		#foreach ($url in $urls.split("@"))
			#set ($name=$imgs.get($math.sub($foreach.count,1)))
		    <h3 id="$name" class="url"><a href="$url" target="_blank">$url</a></h3>
		    <p>		   
		       	#set($image = $name.concat(".png"))
		       	#set($html = $name.concat(".html"))
		       	<a href="pages/$html" title="Go to the full analyze"><img src="screenshots/$image" class="img-thumbnail" alt="Screenshot of $url"></a>
		    </p>
		    #if( $foreach.hasNext )<hr/>#end##	
		#end                                  			
	</div>
	<!-- span 12 -->
</div>
<!-- row -->
#parse("report/velocity/inc/footer.vm")
</body>
</html>
