#parse("report/velocity/header.vm")
<div class="row-fluid">
	<div class="span12">

		<h2>
			The screenshots for viewport $viewport
		</h2>

		#set ($file = 1)
		#foreach ($url in $urls.split("@"))
		    
		    <h3><a href="$url" target="_blank">$url</a></h3>
		    <p>
		    #set($image = "$file")
			#set($image = $image.concat(".png"))
			#set($html = "$file")
			#set($html = $html.concat(".html"))
			<a href="pages/$html"><img src="screenshots/$image"/></a>
		    #set ($file = $math.add(1,$file))
		    </p>
		    <hr/>	
		#end     			
	</div>
	<!-- span 12 -->
</div>
<!-- row -->
#parse("report/velocity/footer.vm")
</body>
</html>
