#parse("report/velocity/macros/date.macros.vm")
#parse("report/velocity/macros/util.macros.vm")
#parse("report/velocity/inc/header.vm")

## Define what kind of values to show on summary page.
#set($largeValue = "median")
#set($largeName = "Median")
#set($smallValue = "percentile95")
#set($smallName = "95 percentile")

#set ($nrOfDecimals=0)
#set ($nrOfPages = $document.getRootElement().getChild("pages").getValue())
#set ($siteElement = $document.getRootElement())
#set ($metricsElement = $siteElement.getChild("metrics"))

<div class="row">
    <div class="col-lg-12">

        <h2 class="url">

            $siteElement.getChild("pages").getValue() page#plural($math.toInteger($siteElement.getChild("pages").getValue())) analyzed
                #if ($siteElement.getChild("url").getValue().length()>0)  
                    for <a href="$siteElement.getChild("url").getValue()" target="_blank">$siteElement.getChild("url").getValue()</a>
                #end    
        </h2>
        #if ($testname)
            <h3>$testname</h3>
        #end
        <p>
            Test performed $siteElement.getChild("date").getValue() with $siteElement.getChild("rules").getValue() rules.
        </p>
        <p>
        <small>
        #if ($siteElement.getChild("ip").getValue() != "unknown")
            <strong>IP:</strong> <em>$siteElement.getChild("ip").getValue()</em>
            #end   

        #if ($siteElement.getChild("userAgent").getValue().getValue() != "")
            <strong>User-Agent:</strong> <em>$siteElement.getChild("userAgent").getValue()</em>
            #end
        #if ($siteElement.getChild("viewPort").getValue() != "")
            <strong>Viewport:</strong> <em>$siteElement.getChild("viewPort").getValue()</em>
            #end
        </small>
        </p>

### $boxes fed from start script
#set ($nrOfBoxes = $boxes.split(",").size())

#set($itemsLastRow = $nrOfBoxes % 3)

## extra new: domains,maximgsize,totaljssize,totalcsssize,browserscaledimg

 #set ($i = 0)  
 #foreach ($boxName in $boxes.split(","))
    ## If it is time to start a new row
    #if ($i % 3 == 0)
<div class="row">
    #end

    ## identify last row
    ## and set the right amount of spans
    #if ($nrOfBoxes - $i <= $itemsLastRow)
        #if ($itemsLastRow == 2)
            #set ($span = 6)
        #else
            #set ($span = 12)
        #end
    #else
        #set ($span = 4)
    #end

 <div class="col-lg-$span">
    #parse("report/velocity/inc/site.summary/box.vm")
 </div>
    #set ($i =$math.add($i,1))

 ## End the row
 #if ($i % 3 == 0)
</div>
## or if we are on the last row & don't show three   
 #elseif ($nrOfBoxes - $i == 0)
</div>
#end


 #end

        
	<div class="row">
            <div class="col-lg-12">
            <i>* The value inside of the parentheses are the 95th percentile (95% of the time, the number is below this amount)</i>
            </div>
        </div>
        

        <div class="row">
            <div class="col-lg-12">
                <h3>The rules</h3>
                <p> 
                <b>Sitespeed.io</b> score are based on the <a href="rules.html">rules</a>. 
		<span class="hidden-phone">
		Click <a href="summary.details.html">here</a> to see a detailed version of the summary.
		</span>
                    The rules are simple:
                    <span class="label label-success">Green</span>
                    color means you don't need to do anything (of course there could still be things you can do to get better performance).
                    <span class="label label-warning">Yellow</span>
                    tells you that you should look into this, and guess what,
                    <span class="label label-danger">red</span>
                    means that something is really bad. The <span class="label label-info">blue</span> color are things for your information, no rules but things that will be good to know.
                </p>
    
            </div>
        </div>

    </div>
</div>
#parse("report/velocity/inc/footer.vm")

<script>

$(function ()
{ $("a[rel=popover]").popover();
});

</script>

</body>
</html>