
#parse("report/velocity/header.vm")
#parse("report/velocity/macros.vm")
#parse("report/velocity/summary.logic.vm")

 <div class="row">
 <div class="span12">

	<h2>$nrOfPages pages analyzed for $document.getRootElement().getAttribute("url").getValue()</h2>
	<p>Test performed: $document.getRootElement().getAttribute("date").getValue()</p>

	<div class="row">
        <div class="span6">
	     <div class="alert alert-#scoreType($scoreAverage)">
             Average Yslow score <div class='large'>$scoreAverage</div>
             </div> 

        </div>
        <div class="span6">
             <div class="alert alert-#requestType($requestAverage)">
             Average number of requests <div class='large'>$requestAverage</div>
             </div>
        </div>
        </div>

	<div class="row">
      	<div class="span3">
            <div class="alert alert-#weightType($pageWeightAverage)">
             Total page weight (b) <div class='large'>$pageWeightAverage</div>
             </div>
	</div>
      	<div class="span3">
	     <div class="alert alert-#weightMobileType($totalDocumentWeightAverage)">
             Document page weight (b) <div class='large'>$totalDocumentWeightAverage</div>
             </div>
	</div>
	<div class="span3">
	     <div class="alert alert-#jsType($jsAverage)">
              Average number of js <div class='large'>$jsAverage</div>
             </div>
	</div>
	<div class="span3">
             <div class="alert alert-#cssType($cssAverage)">
              Average number of css <div class='large'>$cssAverage</div>
             </div>
        </div>
	
    	</div>

	<div class="row">
        <div class="span3">
             <div class="alert alert-#cssImageType($cssImageAverage)">
             Css images <div class='large'>$cssImageAverage</div>
             </div>
        </div>
        <div class="span3">
             <div class="alert alert-#imageType($imageAverage)">
             Average number of images <div class='large'>$imageAverage</div>
             </div>
        </div>
        <div class="span3">
             <div class="alert alert-#requestPrimedType($requestAverage $requestPrimedAverage)">
              Requests primed cache  <div class='large'>$requestPrimedAverage</div>
             </div>
        </div>
        <div class="span3">
             <div class="alert alert-#loadTimeType($loadTimeAverage)">
              Average load time (ms) <div class='large'>$loadTimeAverage</div>
             </div>
        </div>

        </div>


	<div class="row">
        <div class="span12">
	<h3>Rule definition</h3>
	<p>The rules are simple: <b>Green</b> light you don't need to do anything (of course there could still be things you can do to get better perfomance). <b>Yellow</b> means that you should look into this, and guess what, <b>red</b> means that something is bad.</p>
	<ul>
	<li><a href="http://developer.yahoo.com/performance/rules.html/" target="_blank"><b>Yslow</b></a> standard rules. Over <span class="badge badge-success">90</span> is good, between <span class="badge badge-warning">80-90</span> is not so good, and below <span class="badge badge-important">80</span> is bad, really bad.</li>
	<li><b>The number of javascripts</b> Two or less is good, up to 4 means you should look into it and more than 4 means you need to fix it.</li>
	</ul>
	</div>
	</div>	



	<!--
	<table class="table table-condensed table-striped table-bordered" id="pagesTable" >
	<thead>
	<tr>
	<th>Type</th>
	<th>Total number</th>
	<th>Average</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>JS</td>
	<td>$nrOfJs</td>
	<td>$jsAverage</td>
	</tr>
	<tr>
        <td>CSS</td>
        <td>$nrOfCss</td>
        <td>$cssAverage</td>
        </tr>
	<tr>
        <td>CSS images</td>
        <td>$nrOfCssImages</td>
        <td>$cssImageAverage</td>
        </tr>
	<tr>
        <td>Image</td>
        <td>$nrOfImages</td>
        <td>$imageAverage</td>	
        </tr>
	<tr>
	<td>Requests</td>
	<td>$nrOfTotalRequests</td>
	<td>$requestAverage</td>
	</tr>
	<tr>
        <td>Requests primed cache</td>
        <td>$nrOfTotalRequestsPrimedCache</td>
        <td>$requestPrimedAverage</td>
        </tr>
        <tr>
    	<td>Page weight</td>
        <td>$totalPageWeight</td>
        <td>$pageWeightAverage</td>
        </tr>
	<tr>
        <td>Load time</td>
        <td>$totalLoadTime</td>
	<td>$loadTimeAverage</td>
        </tr>
	 <tr>
        <td>Score</td>
        <td>$totalScore</td>
	<td>$scoreAverage</td>
        </tr>	


	</tbody>
	</table>
	-->
	</div>
	</div>

        
#parse("report/velocity/footer.vm")       
        
        
