#parse("report/velocity/header.vm")
#parse("report/velocity/date.macros.vm")
#parse("report/velocity/macros.vm")
#parse("report/velocity/summary.logic.vm")

#set ($siteElement = $document.getRootElement())
#set ($metrics = $siteElement.getChild("metrics"))
<div class="row-fluid">
    <div class="span12">

        <h2 class="url">
            $siteElement.getChild("pages").getValue() page#plural($math.toInteger($siteElement.getChild("pages").getValue())) analyzed 
            #if ($siteElement.getChild("url").getValue().length()>0) 
                for <a href="$siteElement.getChild("url").getValue()" target="_blank">$siteElement.getChild("url").getValue()</a>
            #end    
        </h2>
        #if ($testname)
            <h3>$testname</h3>
        #end
        <p>
            Test performed: $siteElement.getChild("date").getValue() with rules $siteElement.getChild("rules").getValue()
        #if ($siteElement.getChild("userAgent").getValue().getValue() != "")
            with user agent: $siteElement.getChild("userAgent").getValue()
            #end
        #if ($siteElement.getChild("viewPort").getValue() != "")
            viewport: $siteElement.getChild("viewPort").getValue()
            #end
        </p>

	<h2>Detailed summary</h2>

    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-hover table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th>name</th>
                    <th>avg</th>
                    <th>10%</th>
                    <th>median</th>
                    <th>95%</th>
                    <th>min</th>
                    <th>max</th>
                    <th>sDev</th>
                    
                </tr>
            </thead>
            <tbody>
                #foreach ($metric in $metrics.getChildren())
                #set ($nrOfDecimals = $metric.getAttribute("decimals").getValue())
                #set ($type = $metric.getAttribute("type").getValue())
                #set ($unit = $metric.getAttribute("unit").getValue())
                <tr>
                    <td> <em>$metric.getAttribute("friendlyName").getValue()</em> 
                    </td>
                    <td>
                        #if ($type.equals("cachetime"))
                            #prettyPrint($header.getSeconds($math.toInteger($metric.getChild("avg").getValue())))
                        #else    
                            $math.roundTo($nrOfDecimals,$metric.getChild("avg").getValue()) $unit
                        #end
                    </td>             
                    <td>
                        #if ($type.equals("cachetime"))
                            #prettyPrint($header.getSeconds($math.toInteger($metric.getChild("percentile10").getValue())))
                        #else  
                            $math.roundTo($nrOfDecimals,$metric.getChild("percentile10").getValue()) $unit
                        #end
                    </td>
                    <td>
                        #if ($type.equals("cachetime"))
                            #prettyPrint($header.getSeconds($math.toInteger($metric.getChild("median").getValue())))
                        #else  
                            $math.roundTo($nrOfDecimals,$metric.getChild("median").getValue()) $unit
                        #end
                    </td>
                    <td>
                        #if ($type.equals("cachetime"))
                            #prettyPrint($header.getSeconds($math.toInteger($metric.getChild("percentile95").getValue())))
                        #else  
                            $math.roundTo($nrOfDecimals,$metric.getChild("percentile95").getValue()) $unit
                        #end
                    </td>
                    <td>
                        #if ($type.equals("cachetime"))
                            #prettyPrint($header.getSeconds($math.toInteger($metric.getChild("min").getValue())))
                        #else  
                            $math.roundTo($nrOfDecimals,$metric.getChild("min").getValue()) $unit
                        #end
                    </td>
                    <td>
                        #if ($type.equals("cachetime"))
                            #prettyPrint($header.getSeconds($math.toInteger($metric.getChild("max").getValue())))
                        #else  
                            $math.roundTo($nrOfDecimals,$metric.getChild("max").getValue()) $unit
                        #end
                    </td>
                    <td>
                        #if ($type.equals("cachetime"))
                            #prettyPrint($header.getSeconds($math.toInteger($metric.getChild("standardDev").getValue())))
                        #else  
                            $math.roundTo($nrOfDecimals,$metric.getChild("standardDev").getValue()) $unit
                        #end
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
#parse("report/velocity/footer.vm")
</body>
</html>