## Collecting data needed for the summary page

#set($nrOfPages = $document.getRootElement().getChildren().size())


## Get the total objects
    
#set($nrOfDecimals = 0)
#set($totalSpofPages = 0)


## Creating all statistics objects
#set($statsJs = $stats.copy())
#set($statsCss = $stats.copy())
#set($statsImages = $stats.copy())
#set($statsCssImages = $stats.copy())
#set($statsRequests = $stats.copy())
#set($statsRequestsCached = $stats.copy())
#set($statsPageWeight = $stats.copy())
#set($statsScore = $stats.copy())
#set($statsDocumentWeight = $stats.copy())
#set($statsSpof = $stats.copy())
#set($statsJsSyncInHead = $stats.copy())
#set($statsAssetsWithoutFarExpires = $stats.copy())
#set($statsJsPercentageWeight = $stats.copy())

#foreach ($results in $document.getRootElement().getChildren())
    
    #if($!{results.getChild("stats").getChild("js").getChild("r")})
        $statsJs.addValue($math.toInteger($results.getChild("stats").getChild("js").getChild("r").getValue()))
    #end   
      
    #if($!{results.getChild("stats").getChild("css").getChild("r")})
        $statsCss.addValue($math.toInteger($results.getChild("stats").getChild("css").getChild("r").getValue()))
    #end

    #if($!{results.getChild("stats").getChild("cssimage").getChild("r")})
        $statsCssImages.addValue($math.toInteger($results.getChild("stats").getChild("cssimage").getChild("r").getValue()))
    #end

    #if($!{results.getChild("stats").getChild("image").getChild("r")})
        $statsImages.addValue($math.toInteger($results.getChild("stats").getChild("image").getChild("r").getValue()))
    #end

    #if($!{results.getChild("r")})
         $statsRequests.addValue($math.toInteger($results.getChild("r").getValue()))
    #end

    #if($!{results.getChild("r_c")})
        $statsRequestsCached.addValue($math.toInteger($results.getChild("r_c").getValue()))
    #end
      
    #if($!{results.getChild("w")})
        $statsPageWeight.addValue($math.toInteger($results.getChild("w").getValue()))
    #end

    #if($!{results.getChild("o")})
        $statsScore.addValue($math.toInteger($results.getChild("o").getValue()))
    #end

    #if($!{results.getChild("stats").getChild("doc").getChild("w")})
        $statsDocumentWeight.addValue($math.toInteger($results.getChild("stats").getChild("doc").getChild("w").getValue()))
    #end

    #if($!{results.getChild("stats").getChild("js").getChild("w")})  

        ## Sometimes getting the js directly from the stats object gives wrong values, so
        ## let's calculate them one by one
        
        #set($jsWeightCounted = 0)
        #foreach ($asset in $results.getChild("comps").getChildren())
            #if ($asset.getChild("type").getValue() == "js")
            #set($jsWeightCounted = $math.add($jsWeightCounted,$asset.getChild("size").getValue()))
            #end
        #end

         #set ($percentageJs = $math.roundTo(1,$math.mul($math.div($jsWeightCounted,$math.add($results.getChild("stats").getChild("doc").getChild("w").getValue(),$jsWeightCounted)),100)))
         $statsJsPercentageWeight.addValue($percentageJs)
    #else
        $statsJsPercentageWeight.addValue(0)
    #end


    #if($!{results.getChild("g").getChild("spof").getChild("score")})
	   #if ($results.getChild("g").getChild("spof").getChild("score").getValue() != 100)
	       #set ($totalSpofPages = $math.add($totalSpofPages, 1))
           $statsSpof.addValue($math.toInteger($results.getChild("g").getChild("spof").getChild("components").getChildren("item").size()))
	   #end       
    #end

    #if($!{results.getChild("g").getChild("syncjsinhead").getChild("components")})
     $statsJsSyncInHead.addValue($math.toInteger($results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item").size()))
    #end


    #if($!{results.getChild("g").getChild("expiresmod").getChild("components")})
     $statsAssetsWithoutFarExpires.addValue($math.toInteger($results.getChild("g").getChild("expiresmod").getChild("components").getChildren("item").size()))
    #end

#end

##  Create averages   
#set ($scoreAverage = $math.roundTo($nrOfDecimals,$statsScore.getMean()))   
#set ($jsAverage = $math.roundTo($nrOfDecimals,$statsJs.getMean()))  
#set ($requestAverage = $math.roundTo($nrOfDecimals,$statsRequests.getMean()))  
#set ($cssAverage = $math.roundTo($nrOfDecimals,$statsCss.getMean()))  
#set ($cssImageAverage = $math.roundTo($nrOfDecimals,$statsCssImages.getMean()))  
#set ($imageAverage = $math.roundTo($nrOfDecimals,$statsImages.getMean()))
#set ($requestPrimedAverage = $math.roundTo($nrOfDecimals,$statsRequestsCached.getMean()))  
#set ($pageWeightAverage = $math.roundTo($nrOfDecimals,$statsPageWeight.getMean()))  
#set ($totalDocumentWeightAverage = $math.roundTo($nrOfDecimals,$statsDocumentWeight.getMean()))  
#set ($totalJsSyncInHeadAverage = $math.roundTo($nrOfDecimals,$statsJsSyncInHead.getMean()))  
#set ($totalSpofAverage = $math.roundTo($nrOfDecimals,$statsSpof.getMean()))  
#set ($totalAssetsWithoutFarExpiresAverage = $math.roundTo($nrOfDecimals,$statsAssetsWithoutFarExpires.getMean())) 
#set ($javascriptDividedWithDocumentAverage = $math.roundTo($nrOfDecimals,$statsJsPercentageWeight.getMean()))

## Create median
#set ($scoreMedian = $math.toInteger($statsScore.getPercentile(50)))   
#set ($jsMedian = $math.toInteger($statsJs.getPercentile(50)))  
#set ($requestMedian = $math.toInteger($statsRequests.getPercentile(50))) 
#set ($cssMedian = $math.toInteger($statsCss.getPercentile(50))) 
#set ($cssImageMedian = $math.toInteger($statsCssImages.getPercentile(50))) 
#set ($imageMedian = $math.toInteger($statsImages.getPercentile(50))) 
#set ($requestPrimedMedian = $math.toInteger($statsRequestsCached.getPercentile(50))) 
#set ($pageWeightMedian = $math.toInteger($statsPageWeight.getPercentile(50))) 
#set ($documentWeightMedian = $math.toInteger($statsDocumentWeight.getPercentile(50))) 
#set ($jsSyncInHeadMedian = $math.toInteger($statsJsSyncInHead.getPercentile(50))) 
#set ($spofMedian = $math.toInteger($statsSpof.getPercentile(50))) 
#set ($assetsWithoutFarExpiresMedian = $math.toInteger($statsAssetsWithoutFarExpires.getPercentile(50))) 
#set ($javascriptDividedWithDocumentMedian = $math.roundTo($nrOfDecimals,$statsJsPercentageWeight.getPercentile(50)))



