## Collecting data needed for the summary page

#set($nrOfPages = $document.getRootElement().getChildren().size())


## Get the total objects
    
#set($nrOfDecimals = 0)
#set($nrOfJs = 0)
#set($nrOfCss = 0)
#set($nrOfCssImages = 0)
#set($nrOfImages = 0)
#set($nrOfTotalRequests = 0)
#set($nrOfTotalRequestsPrimedCache = 0)
#set($totalPageWeight = 0)
#set($totalDocumentWeight = 0)
#set($totalScore = 0)    
#set($totalSpof = 0)
#set($totalSpofPages = 0)
#set($totalJsSyncInHead = 0)

#foreach ($results in $document.getRootElement().getChildren())
    
    #if($!{results.getChild("stats").getChild("js").getChild("r")})
        #set ($nrOfJs = $math.add($nrOfJs, $results.getChild("stats").getChild("js").getChild("r").getValue()))
    #end   
      
    #if($!{results.getChild("stats").getChild("css").getChild("r")})
        #set ($nrOfCss = $math.add($nrOfCss,$results.getChild("stats").getChild("css").getChild("r").getValue()))
    #end

    #if($!{results.getChild("stats").getChild("cssimage").getChild("r")})
        #set ($nrOfCssImages = $math.add($nrOfCssImages, $results.getChild("stats").getChild("cssimage").getChild("r").getValue()))
    #end

    #if($!{results.getChild("stats").getChild("image").getChild("r")})
        #set ($nrOfImages = $math.add($nrOfImages, $results.getChild("stats").getChild("image").getChild("r").getValue()))
    #end

    #if($!{results.getChild("r")})
        #set ($nrOfTotalRequests = $math.add($nrOfTotalRequests, $results.getChild("r").getValue()))
    #end

    #if($!{results.getChild("r_c")})
        #set ($nrOfTotalRequestsPrimedCache = $math.add($nrOfTotalRequestsPrimedCache, $results.getChild("r_c").getValue()))
    #end
      
    #if($!{results.getChild("w")})
        #set ($totalPageWeight = $math.add($totalPageWeight, $results.getChild("w").getValue()))
    #end

    #if($!{results.getChild("o")})
        #set ($totalScore = $math.add($totalScore, $results.getChild("o").getValue()))
    #end

    #if($!{results.getChild("stats").getChild("doc").getChild("w")})
        #set ($totalDocumentWeight = $math.add($totalDocumentWeight, $results.getChild("stats").getChild("doc").getChild("w").getValue()))
    #end

    #if($!{results.getChild("g").getChild("spof").getChild("score")})
	#if ($results.getChild("g").getChild("spof").getChild("score").getValue() != 100)
 	       #set ($totalSpofPages = $math.add($totalSpofPages, 1))
	       #set ($totalSpof = $math.add($totalSpof, $results.getChild("g").getChild("spof").getChild("components").getChildren("item").size()))
	#end       
    #end

    #if($!{results.getChild("g").getChild("syncjsinhead").getChild("components")})
	 #set ($totalJsSyncInHead = $math.add($totalJsSyncInHead, $results.getChild("g").getChild("syncjsinhead").getChild("components").getChildren("item").size()))
    #end
#end
      
##  Create averages   
#set ($scoreAverage = $math.roundTo($nrOfDecimals,$math.div($totalScore,$nrOfPages)))   
#set ($jsAverage = $math.roundTo($nrOfDecimals,$math.div($nrOfJs,$nrOfPages)))
#set ($requestAverage = $math.roundTo($nrOfDecimals,$math.div($nrOfTotalRequests,$nrOfPages)))
#set ($cssAverage = $math.roundTo($nrOfDecimals,$math.div($nrOfCss,$nrOfPages)))
#set ($cssImageAverage = $math.roundTo($nrOfDecimals,$math.div($nrOfCssImages,$nrOfPages)))
#set ($imageAverage = $math.roundTo($nrOfDecimals,$math.div($nrOfImages,$nrOfPages)))
#set ($requestPrimedAverage = $math.roundTo($nrOfDecimals,$math.div($nrOfTotalRequestsPrimedCache,$nrOfPages)))
#set ($pageWeightAverage = $math.roundTo($nrOfDecimals,$math.div($totalPageWeight,$nrOfPages)))
#set ($totalDocumentWeightAverage = $math.roundTo($nrOfDecimals,$math.div($totalDocumentWeight,$nrOfPages)))
#set ($totalJsSyncInHeadAverage = $math.roundTo($nrOfDecimals,$math.div($totalJsSyncInHead,$nrOfPages)))
#set ($totalSpofAverage = $math.roundTo($nrOfDecimals,$math.div($totalSpof,$nrOfPages)))