## Strip browsernames, so that one timing is configured the same way for all browsers (timings are named with the browser name last like pageLoadTimeFirefox)
#set($ruleName = $boxName)
#if ($ruleName.endsWith("Firefox") || $ruleName.endsWith("IE") || $ruleName.endsWith("Chrome") || $ruleName.endsWith("Safari"))
	#set($ruleName = $ruleName.replaceFirst("Firefox",""))
	#set($ruleName = $ruleName.replaceFirst("IE",""))
	#set($ruleName = $ruleName.replaceFirst("Chrome",""))
	#set($ruleName = $ruleName.replaceFirst("Safari",""))
#end
#if (!$metricsElement.getChild($ruleName))
<div class="alert alert-danger">
Missing data for box $ruleName
</div>
#else
#if ($rulemanager.getRule($ruleName))
#set($rule=$rulemanager.getRule($ruleName))
#set($description = $metricsElement.getChild($boxName).getAttributeValue("desc"))
#if ($metricsElement.getChild($boxName).getAttributeValue("type")=="cachetime")
	#set($green = $header.getDays($math.toInteger($rule.greenLimit)).days)
	#set($yellow= $header.getDays($math.toInteger($rule.yellowLimit)).days)
	#set($text = "<p>$description</p> <p>To get green you need to have $rule.type.friendlyName $green days. For yellow $yellow days and $rule.type.opposite.friendlyName $yellow days to get red.</p>")
#else
#set($description = $metricsElement.getChild($boxName).getAttributeValue("desc"))
	#set($text = "<p>$description</p>  <p>To get green you need to have $rule.type.friendlyName $rule.greenLimit. For yellow $rule.yellowLimit and $rule.type.opposite.friendlyName $rule.yellowLimit to get red.</p>")
#end
#else
#set($text = "No rules are setup for this metric")
#end

#set($large = $math.roundTo($math.toInteger($metricsElement.getChild($boxName).getAttributeValue("decimals")),$metricsElement.getChild($boxName).getChild(${largeValue}).getValue()))
#set($small = $math.roundTo($math.toInteger($metricsElement.getChild($boxName).getAttributeValue("decimals")),$metricsElement.getChild($boxName).getChild(${smallValue}).getValue()))
<div class="alert alert-#getRuleColor($ruleName $large)">
$metricsElement.getChild($boxName).getAttributeValue("friendlyName")
#if ($metricsElement.getChild($boxName).getAttributeValue("unit") != "")
	($metricsElement.getChild($boxName).getAttributeValue("unit"))
#end
	<div>
		<a href="#" class="alert-#getRuleColor($ruleName $large) large" rel="popover" data-html="true" data-trigger="hover" title="$metricsElement.getChild($boxName).getAttributeValue("friendlyName")" data-content="$text">
		#if ($metricsElement.getChild($boxName).getAttributeValue("type")=="cachetime")
		#prettyPrint($header.getSeconds($math.toInteger($large)))
		#else
		$large
		#end
		</a>
		#if ($metricsElement.getChild($boxName).getAttributeValue("type")=="cachetime")
		(#prettyPrint($header.getSeconds($math.toInteger($small))))
		#else
		($small)
		#end
	</div>
</div>
#end
