if pagexray.afterOnLoad.requests > 0
    a#requests-after-onload
    h3 Requests loaded after onLoad event
    table(data-sortable, id='contentSizeAfterOnload')
        +rowHeading(['Content', 'Transfer Size', 'Requests'])
        each data, type in pagexray.afterOnLoad.contentTypes
            tr
                td(data-title='Content Type') #{type}
                +sizeCell('transferSize', data.transferSize)
                +numberCell('requests', data.requests)
        tr
                td(data-title='Total') Total
                +sizeCell('transferSize', pagexray.afterOnLoad.transferSize)
                +numberCell('requests', pagexray.afterOnLoad.requests)        

if pagexray.afterOnContentLoad.requests > 0
    h3 Requests loaded after onContentLoad 
    p.small Includes requests done after onLoad.
    table(data-sortable, id='contentSizeAfterOnContentload')
        +rowHeading(['Content', 'Transfer Size', 'Requests'])
        each data, type in pagexray.afterOnContentLoad.contentTypes
            tr
                td(data-title='Content Type') #{type}
                +sizeCell('transferSize', data.transferSize)
                +numberCell('requests', data.requests)
        tr
                td(data-title='Total') Total
                +sizeCell('transferSize', pagexray.afterOnContentLoad.transferSize)
                +numberCell('requests', pagexray.afterOnContentLoad.requests)
