include ../../_tableMixins

a
h2 PageXray
- const pagexray = pageInfo.data.pagexray.run || pageInfo.data.pagexray.pageSummary;
p.small Hard facts about the page.
a#pagexray-summary
.row
  .one-half.column
    table
      th(colspan='2') Summary
        tr
          td HTTP version
          td.right #{pagexray.httpVersion}
        tr
          td Total requests
          +numberCell('', pagexray.requests)
        tr
          td Total domains
          +numberCell('', pagexray.totalDomains)
        tr
          td Total transfer size
          +sizeCell('', pagexray.transferSize)
        tr
          td Total content size
          +sizeCell('', pagexray.contentSize)
        tr
          td Responses missing compression
          +numberCell('', pagexray.missingCompression)

  .one-half.column
    table
      th(colspan='2') Requests per response code
      each total, code in pagexray.responseCodes
        tr
          td #{code}
          td #{total}

include ./perContentType.pug

include ./perDomain.pug

a#expires-and-last-modified-stats
h3 Expires, last modified and cookies stats
- expire = pagexray.expireStats
- lastModified = pagexray.lastModifiedStats
- cookies = pagexray.cookieStats
.responsive
  table
    +rowHeading(['type', 'min', 'median', 'max'])
    if expire
      tr
        td(data-title='Type') Expires
        +durationCell('min', expire.min)
        +durationCell('median', expire.median)
        +durationCell('max', expire.max)
    if lastModified
      tr
        td(data-title='Type') Last modified
        +durationCell('min', lastModified.min)
        +durationCell('median', lastModified.median)
        +durationCell('max', lastModified.max)
    if cookies
      tr
        td(data-title='Type') Cookies
        +numberCell('min', cookies.min)
        +numberCell('median', cookies.median)
        +numberCell('max', cookies.max)

if pageInfo.data.browsertime && pageInfo.data.browsertime.console
    include ./console.pug

include ./after.pug
