a#data-per-domain
h3 Data per domain
.responsive
  table(data-sortable, id='contentSizePerDomain')
    +rowHeading(['Domain', 'Total download time', 'Transfer Size', 'Content Size', 'Requests'])
    each data, domain in pagexray.domains
      tr
        td(data-title='Domain') #{domain}
        +timeCell('totalTime', data.totalTime)
        +sizeCell('transferSize', data.transferSize)
        +sizeCell('contentSize', data.contentSize)
        +numberCell('requests', data.requests)
