script(type='text/javascript').
  document.addEventListener("DOMContentLoaded", function() {
    var data = {
      labels: !{JSON.stringify(numberOfRequestsLabels)},
      series: !{JSON.stringify(numberOfRequests)}
    };

    var options = {
      distributeSeries: true
    };

    var responsiveOptions = [
      ['screen and (max-width: 640px)', {
        seriesBarDistance: 5,
        axisX: {
          labelInterpolationFnc: function (value) {
            return value[0];
          }
        }
      }]
    ];

    var requestChart = new Chartist.Bar('#ct-requests-chart', data, options, responsiveOptions);

  });
