#set($criticalPathText = "You should always aim for score 100, above 95 is OK.")
<div class="alert alert-#criticalPathType($totalCriticalPathMedian)">
	Critical Rendering Path Score
	<div>
		<a href="#" rel="popover" class="alert-#criticalPathType($totalCriticalPathMedian) large" data-trigger="hover" title="The median of the rendering path score " data-content="$criticalPathText">$totalCriticalPathMedian</a>
		($criticalPathPercentile)
	</div>
</div>