#set($documentWeightText = "Below 10 kb is good (gzipped), between 10-26 is ok (but can be better) and above is bad. A small document is good for mobile.")
<div class="alert alert-#weightMobileType($totalDocumentWeightMedian)">
	Document page weight
	<div>
		<a href="#" rel="popover" class="alert-#weightMobileType($totalDocumentWeightMedian) large" data-trigger="hover" title="Median document weight $totalDocumentWeightMedian kb" data-content="$documentWeightText">$totalDocumentWeightMedian kb</a>
		($math.roundTo(1,$documentWeightPercentile))
	</div>
</div>