#set($nrOfJsText = "Two or less is good, up to 15 means you should look into it and more than 4 means you need to fix it. 15 is the average amount js request, statistics from http://httparchive.org.")
<div class="alert alert-#jsType($jsMedian)">
	Number of JS
	<div>
		<a href="#" rel="popover" class="alert-#jsType($jsMedian) large" data-trigger="hover" title="Median number of $jsMedian javascripts ($jsPercentage % of the requests) " data-content="$nrOfJsText">$jsMedian</a>
		($jsPercentile)
	</div>

</div>