#set($pageWeightText = "Below 1 mb is ok (but really too large for mobile), between 1-1.2 mb is something you should investigate & heavier is bad. 1.2 mb is the average site weight, statistics from http://httparchive.org.")
<div class="alert alert-#getRuleColor($name $pageWeightMedian)">
	Total page weight
	<div>
		<a href="#" rel="popover" class="alert-#getRuleColor($name $pageWeightMedian) large" data-trigger="hover" title="Median page weight $pageWeightMedian kb" data-content="$pageWeightText">$pageWeightMedian kb</a>
		($math.roundTo(1,$pageWeightPercentile))
	</div>
</div>