#set($requestText = "Below 25 is good, between 25-88 is something you should look into (88 is the average amount of requests a site has, collected from http://httparchive.org) and above 88 is really bad.")
<div class="alert alert-#requestType($requestMedian)">
	Number of requests
	<div>
		<a href="#" rel="popover" class="alert-#requestType($requestMedian) large" data-trigger="hover" title="Median number of $requestMedian requests" data-content="$requestText">$requestMedian</a>
		($requestPercentile)
	</div>
</div>