#set($assetsWithoutExpiresText = "$rulemanager.getRule($name).greenLimit is good. More than $rulemanager.getRule($name).yellowLimit is bad.")
<div class="alert alert-#getRuleColor($name $totalAssetsWithoutExpiresMedian)">
	Requests without expires
	<div>
		<a href="#" rel="popover" class="alert-#getRuleColor($name $totalAssetsWithoutExpiresMedian) large" data-trigger="hover" title="Median number of $totalAssetsWithoutExpiresMedian requests for static content without a future expiration date #if($math.toInteger($requestWithoutExpirePercentage) >
			0) ($requestWithoutExpirePercentage % of the requests is lacking a expiration date) #end" data-content="$assetsWithoutExpiresText">$totalAssetsWithoutExpiresMedian
		</a>
		($assetsWithoutExpiresPercentile)
	</div>
</div>