 #set($spofPerPageText = "Everything above 0 is bad!")
 <div class="alert alert-#getRuleColor($name $totalSpofMedian)">
	Number of SPOF per page
	<div>
		<a href="#" rel="popover" class="alert-#getRuleColor($name $totalSpofMedian) large" data-trigger="hover" title="The median of $totalSpofMedian single point of failures per page" data-content="$spofPerPageText">$totalSpofMedian</a>
		($spofPercentile)
	</div>
 </div>