#set($jsSyncInHeadText = "Less than $rulemanager.getRule($name).greenLimit is good, $rulemanager.getRule($name).yellowLimit or more is bad.")
<div class="alert alert-#getRuleColor($name $totalJsSyncInHeadMedian)">
	Number of JS synchronously in head
	<div>
		<a href="#" rel="popover" class="alert-#getRuleColor($name $totalJsSyncInHeadMedian) large" data-trigger="hover" title="Median number of $totalJsSyncInHeadMedian javascripts are loaded synchronously inside of the head tag #if($math.toInteger($jsInHeadPercentage) >
			0) ($jsInHeadPercentage % of the javascript files) #end" data-content="$jsSyncInHeadText">$totalJsSyncInHeadMedian
		</a>
		($jsSyncInHeadPercentile)
	</div>
</div>