#set($textContentText = "Above 50% is good, below 25% is bad.")
<div class="alert alert-#textContentType($textContentMedian)">
	Amount of text content
	<div>
		<a href="#" rel="popover" class="alert-#textContentType($textContentMedian) large" data-trigger="hover" title="The median amount of text content on a page" data-content="$textContentText">$textContentMedian %</a>
		($textContentPercentile)
	</div>
</div>