a#cpu
h3 Time spent

.row
  .one-half.column
   if browsertime.cpu.categories
     table
       tr
         th(colspan='2') Categories (ms)
       each value, name in browsertime.cpu.categories
         tr
           td #{name}
           td #{value.toFixed(1)}
  .one-half.column
   if browsertime.cpu.events
     table
       tr
         th(colspan='2') Events (ms)
       - const cpuEvents = [] 
       - for (let key of Object.keys(browsertime.cpu.events)) {cpuEvents.push({name: key, value: browsertime.cpu.events[key] })}
       - cpuEvents.sort((a,b)=>{return b.value - a.value})   
       each event in cpuEvents
         tr
           td #{event.name}
           td #{event.value}
