if browsertime.pageinfo && browsertime.pageinfo.layoutShift !== undefined
    a#layoutShift
    h3 Detected Cumulative Layout Shift
    if (browsertime.pageinfo.layoutShift === 0) 
      p No layout shift detected.
    else
      p #{browsertime.pageinfo.layoutShift.toFixed(2)} layout shift collected from the 
        a(href='https://web.dev/cls/') Cumulative Layout Shift API
        | .
