if browsertime.pageinfo && browsertime.pageinfo.cumulativeLayoutShift!== undefined
    a#cumulativeLayoutShift
    h3 Detected Cumulative Layout Shift
    if (browsertime.pageinfo.cumulativeLayoutShift === 0) 
      p No layout shift detected.
    else
      p #{browsertime.pageinfo.cumulativeLayoutShift.toFixed(2)} layout shift collected from the 
        a(href='https://web.dev/cls/') Cumulative Layout Shift API
        | .
      p These HTML elements contribute most to the Cumulative Layout Shifts of the page.
      table
        tr 
          th Score
          th HTML Element
        each info in browsertime.pageinfo.cumulativeLayoutShiftInfo
          tr
            td #{info.score.toFixed(5)}
            td #{info.html}