h1 Sustainable Web

- const sustainable = pageInfo.data.sustainable.run ? pageInfo.data.sustainable.run : pageInfo.data.sustainable.pageSummary.data

p Burning fossil fuels to power servers is avoidable, and contributes to climate breakdown. See the 
    a(href='https://www.w3.org/2001/tag/doc/ethical-web-principles/') W3C Ethical Web Principles
    |, on Sustainable Web, and learn more at 
    a(href='https://www.thegreenwebfoundation.org') The Green Web Foundation
    |.

p CO2 #{sustainable.co2} 

//- We could add some JavaScript on the page so that you as a user could input 
//- the trafic per month and we could calculate the total co2 effect
