## Logic file for showing the most used assets

## the number of pages that use one asset
#set($assetsAndUseage = $map.clone())
#set($assetAndType = $map.clone())
#set($assetAndSize = $map.clone())
#set($assetAndCacheTime = $map.clone())
#set($assetAndNotModifiedSince = $map.clone())
#set($assetAndPage = $map.clone())
#set($assetAndHeaders = $map.clone())

## Create the top list of all the most used assets
#foreach ($page in $document.getRootElement().getChildren())

	#foreach ($asset in $page.getChild("comps").getChildren())
		#if ($asset.getChild("type").getValue() != "doc")
			#set($nrOfRequests = 0)
			#set($theUrl = $asset.getChild("url").getValue())
			#set($nrOfRequests = $assetsAndUseage.get($theUrl))
			#if(!$nrOfRequests) 
				#set($nrOfRequests = 1) 
			#else
			    	#set($nrOfRequests = $math.add($nrOfRequests, 1))
			#end	
			#set($swallow = $assetsAndUseage.put($theUrl, $nrOfRequests))


			## modifified & cache
			## reset values for the loop
			#set ($lastMod = "")
			#set ($date = "")
			#set ($cacheControl = 0)
			#set ($expires = "")
			#set ($delta = "")
                        #set ($cacheTime = "")
			#set ($lastMod = $asset.getChild("headers").getChild("response").getChild("Last-Modified").getValue())
			#set ($date = $asset.getChild("headers").getChild("response").getChild("Date").getValue())
			#set ($cacheControl = $asset.getChild("headers").getChild("response").getChild("Cache-Control").getValue())
			#set ($expires = $asset.getChild("headers").getChild("response").getChild("Expires").getValue())
								
			#set ($delta = $header.getDelta($lastMod,$date))

			## only put if exist
			#set($swallow = $assetAndNotModifiedSince.put($theUrl, $delta))

			#set ($cacheTime = $header.getCacheTime($cacheControl, $expires, $date))
			#set($swallow = $assetAndCacheTime.put($theUrl, $cacheTime))

			##size
			#set ($size=$math.roundTo(1,$math.div($asset.getChild("size").getValue(),1000)))
			#set($swallow = $assetAndSize.put($theUrl, $size))

			##type
			#set($swallow = $assetAndType.put($theUrl,$asset.getChild("type").getValue()))

			## the belonging page
			#set($file = $page.getAttribute("filename").getValue())
            #set($file = $file.concat(".html"))
			#set($swallow = $assetAndPage.put($theUrl,$file))


			#set($swallow = $assetAndHeaders.put($theUrl,$asset.getChild("headers").getChild("response").getChildren()))
			
			$toplisttool.push($theUrl)
		#end
	#end
#end


