## logic file for page.vm, showing in detail information about a page
## lets go ...


## Sometimes getting the js directly from the stats object gives wrong values, so
## let's calculate them one by one and fetch favicon & totalweight

#set($jsWeightCounted = 0)
#set($faviconWeight = 0)
#set($totalWeight = 0)
#foreach ($asset in $document.getRootElement().getChild("comps").getChildren())
	#set($totalWeight = $math.add($totalWeight,$asset.getChild("size").getValue()))

	#if ($asset.getChild("type").getValue() == "js")
		#set($jsWeightCounted = $math.add($jsWeightCounted,$asset.getChild("size").getValue()))
	#elseif ($asset.getChild("type").getValue() == "favicon")
		#set($faviconWeight = $math.roundTo(1,$math.div($asset.getChild("size").getValue(),1000)))	
	#end
#end


## Setting up the weight
#set($jsWeight = $math.max($math.roundTo(1,$math.div($jsWeightCounted,1000)),0))
#set($cssWeight = $math.max($math.roundTo(1,$math.div($document.getRootElement().getChild("stats").getChild("css").getChild("w").getValue(),1000)),0))
#set($docWeight = $math.roundTo(1,$math.div($document.getRootElement().getChild("stats").getChild("doc").getChild("w").getValue(),1000)))
#set($imageWeight = $math.roundTo(1,$math.div($document.getRootElement().getChild("stats").getChild("image").getChild("w").getValue(),1000)))
#set($cssImageWeight = $math.roundTo(1,$math.div($document.getRootElement().getChild("stats").getChild("cssimage").getChild("w").getValue(),1000)))
#set($flashWeight = $math.roundTo(1,$math.div($document.getRootElement().getChild("stats").getChild("flash").getChild("w").getValue(),1000)))
#set($totalWeight = $math.roundTo(1,$math.div($totalWeight,1000)))
#set($docWeightCurl = $math.roundTo(1,$math.div($document.getRootElement().getAttribute("size").getValue(),1000)))

## Take care of the cases when they are not defined
#if(!$cssImageWeight) #set($cssImageWeight=0) #end 
#if(!$imageWeight) #set($imageWeight=0) #end 
#if(!$jsWeight) #set($jsWeight=0) #end 
#if(!$cssWeight) #set($cssWeight=0) #end
#set($contentWeight = $math.add($jsWeight,$math.add($cssWeight,$docWeight)))
#if(!$contentWeight) #set($contentWeight=0) #end
#if(!$flashWeight) #set($flashWeight=0) #end
#if(!$faviconWeight) #set($faviconWeight=0) #end
#set($requestWeight= $jsWeight + $cssWeight + $imageWeight + $cssImageWeight +$docWeight + $faviconWeight)
#set($otherWeight = $math.roundTo(1,$math.sub($totalWeight,$requestWeight)))
#if(!$otherWeight) #set($otherWeight=0) #end

## Setting up the number of requests
#set($nrOfJs = $document.getRootElement().getChild("stats").getChild("js").getChild("r").getValue())
#set($nrOfCss = $document.getRootElement().getChild("stats").getChild("css").getChild("r").getValue())
#set($nrOfImages = $document.getRootElement().getChild("stats").getChild("image").getChild("r").getValue())
#set($nrOfCssImages = $document.getRootElement().getChild("stats").getChild("cssimage").getChild("r").getValue())
#set($nrOfFonts = $document.getRootElement().getChild("stats").getChild("font").getChild("r").getValue())
#set($nrOfFavicons = $document.getRootElement().getChild("stats").getChild("favicon").getChild("r").getValue())
#set($nrOfHTML = $document.getRootElement().getChild("stats").getChild("doc").getChild("r").getValue())

## Take care of the cases when they are not defined
#if(!$nrOfJs) #set($nrOfJs=0) #end 
#if(!$nrOfCss) #set($nrOfCss=0) #end 
#if(!$nrOfCssImages) #set($nrOfCssImages=0) #end 
#if(!$nrOfImages) #set($nrOfImages=0) #end 
#if(!$nrOfFonts) #set($nrOfFonts=0) #end 
#if(!$nrOfFavicons) #set($nrOfFavicons=0) #end 
#if(!$nrOfFlash) #set($nrOfFlash=0) #end 
#if(!$nrOfHTML) #set($nrOfHTML=0) #end

#set($requests = $math.add($math.add($math.add($math.add($math.add($math.add($math.add($nrOfJs,$nrOfCss),$nrOfCssImages),$nrOfImages),$nrOfFonts),$nrOfFavicons),$nrOfFlash),$nrOfHTML))
#set($otherRequests = $math.sub($document.getRootElement().getChild("r").getValue(),$requests))
#set($totalRequests =  $document.getRootElement().getChild("r").getValue())

## the number of request per host & size
#set($hostAndRequests = $map.clone())
#set($hostAndSize = $map.clone())
#foreach ($asset in $document.getRootElement().getChild("comps").getChildren())
		#set($nrOfRequests = 0)
		#set($size = 0)
		#set($theHost = $host.getHost($asset.getChild("url").getValue()))
		#set($nrOfRequests = $hostAndRequests.get($theHost))
		#set($size = $hostAndSize.get($theHost))
		#if(!$nrOfRequests) 
			#set($nrOfRequests = 1) 
		#else
			#set($nrOfRequests = $math.add($nrOfRequests, 1))
		#end
		#if(!$size) 
			#set($size = $asset.getChild("size").getValue()) 
		#else
			#set($size = $math.add($size, $asset.getChild("size").getValue()))
		#end

		#set($swallow = $hostAndRequests.put($theHost, $nrOfRequests))
		#set($swallow = $hostAndSize.put($theHost, $size))
#end

## Set up stats for last modified & cache time
#set($statsTimeSinceLastModificationInSeconds = $stats.copy())
#set($statsAssetCacheTimeInSeconds= $stats.copy())

## Define backend & frontend time

#set($backendPercentage =  $math.roundTo(1,$math.mul($math.div($math.toDouble($math.div($math.toInteger($document.getRootElement().getChild("g").getChild("ttfb").getChild("components").getChildText("item")),1000)),$math.div($math.toDouble($document.getRootElement().getChild("lt").getValue()),1000)),100)))

#set($frontendPercentage =  $math.roundTo(1,$math.mul($math.div($math.sub($math.div($math.toDouble($document.getRootElement().getChild("lt").getValue()),1000),$math.toDouble($math.div($math.toInteger($document.getRootElement().getChild("g").getChild("ttfb").getChild("components").getChildText("item")),1000))),$math.div($math.toDouble($document.getRootElement().getChild("lt").getValue()),1000)),100)))


