##
## The size of the page##
## Sometimes this bugs in YSlow and have an enourmus big value in the phantomjs version##
## I will file a defect to YSlow later##
## $math.roundTo(1,$math.div($results.getChild("w").getValue(),1000))##
## For now fetch the values individually##
#set($totalWeight = 0)##
#foreach ($asset in $results.getChild("comps").getChildren())##
#set($totalWeight = $math.add($totalWeight,$asset.getChild("size").getValue()))##
#end##
$math.roundTo(1,$math.div($totalWeight,1000))##