    <td>
        ##
        ## The number of components that can create a SPOF##
        #if($!{results.getChild("g").getChild("spof")})##

            #set($spofDomains = "")##

            #foreach ($spofUrl in $results.getChild("g").getChild("spof").getChild("components").getChildren("item"))##
                ## only add unique ones##
                #if ($spofDomains.indexOf($host.getHost($spofUrl.getValue())) < 0)##
                    #set($spofDomains = $spofDomains + $host.getHost($spofUrl.getValue()) + ",")##
                #end##
            #end##

            <a href="#spof-$foreach.count" data-toggle="modal">
            ##
            $results.getChild("g").getChild("spof").getChild("components").getChildren("item").size()##
        </a>
        ##
        <a href="http://www.webpagetest.org/?url=$esc.url($results.getChild("u").getValue())&video=1fvonly=1&runs=3&spof=$spofDomains" target="_blank" title="Record a video at webpagetest.org with the spof domains down"> <i class="icon-facetime-video"></i>
        ##
        </a>
        ##
        <div class="modal hide fade" id="spof-$foreach.count" aria-labelledby="spofModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
            ##
            <div class="modal-header">
                ##
                <h3 id="spofModalLabel-$foreach.count">
                    ##
                    Single point of failures ($results.getChild("g").getChild("spof").getChild("components").getChildren("item").size())##
                </h3>
                ##
            </div>
            ##
            <div class="modal-body">
                ##
                <ul>
                    ##
                     #foreach ($spof in $results.getChild("g").getChild("spof").getChild("components").getChildren("item"))##
                    <li>
                        <a href="$esc.html($spof.getValue())" target="_blank">$esc.html($spof.getValue())</a>
                    </li>
                    ##
                    #end##
                </ul>
                ##
            </div>
            ##
            <div class="modal-footer">
                ##
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                ##
            </div>
            ##
        </div>
        ##
        #else##
        0##
        #end##
    </td>
    ##