##
## Well the problem is like this: Today there is no way to get the ttfb from PhantomJS so it is fetched by a extra request##
## using curl. Some sites that don't cache internally (and are slow) can differ quite much for ttfb, meaning ttfb can be higher the##
## next request than the load time the first time. That needs to be signaled.##
## The diff between ttfb and load time##
## The next line contains a reference on how to fetch the ttfb actually breaking the parse/include of the ttfb, but there's no way around it
#set($diff = $math.roundTo(3,$math.sub($math.toDouble($results.getAttribute("ttfb").getValue()),$math.div($math.toDouble($results.getChild("lt").getValue()),1000))))##
#if ($diff > 1.0)##
<a href="#" title="The second fetch by curl took #parse("report/velocity/inc/detailed.site/columns/${columnName}.vm") s, that is $diff slower than the load time the first request, probably the server have problems that you need to investigate."> <i class="icon-exclamation-sign"></i>
</a>
##
#elseif ($diff<0)##
    #parse("report/velocity/inc/detailed.site/columns/${columnName}.vm")##
#else##
<a href="#" title="The ttfb (#parse("report/velocity/inc/detailed.site/columns/${columnName}.vm") s) for the second request was $diff larger than the load time, you should check it."> <i class="icon-question-sign"></i></a>
##
#end##