<td class="nobreak-pages">
    ## The link to the full page info
    #set($file = $results.getAttribute("filename").getValue())
    #set($file = $file.concat(".html"))
    <a href="#headers-$foreach.count" data-toggle="modal"> <i class="icon-zoom-in"></i>
    </a>
    <a href="pages/$file" title="$results.getChild("curl").getValue()">$results.getChild("curl").getValue()</a>

    <div class="modal hide fade" id="headers-$foreach.count" aria-labelledby="headersModalLabel-$foreach.count" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <h3 id="headersModalLabel-$foreach.count">Response headers</h3>
        </div>
        <div class="modal-body">
            <table class="table-hover table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($response in $results.getChild("comps").getChild("item").getChild("headers").getChild("response").getChildren())
                    <tr>
                        <td>$esc.html($response.getName())</td>
                        <td>$esc.html($response.getValue())</td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

</td>