#parse("report/velocity/macros/date.macros.vm")
#parse("report/velocity/macros/util.macros.vm")
#parse("report/velocity/logic/site.summary.xml.logic.vm")
<?xml version="1.0" encoding="UTF-8"?>
<site>
<url><![CDATA[$document.getRootElement().getChild("url").getValue()]]></url>
<pages>$nrOfPages</pages>
<date>$document.getRootElement().getAttribute("date").getValue()</date>
<rules>$document.getRootElement().getChild("results").getChild("i").getValue()</rules>
<userAgent>$document.getRootElement().getAttribute("useragent").getValue()</userAgent>
<viewPort>$document.getRootElement().getAttribute("viewport").getValue()</viewPort>
<ip>$document.getRootElement().getAttribute("ip").getValue()</ip>
<path>$document.getRootElement().getAttribute("path").getValue()</path>
<metrics>
#foreach ($stats in $allStats)
<$stats.getName().replace(' ','.') friendlyName="$stats.getFriendlyName()" type="$stats.getType()" unit="$stats.getUnit()" decimals="$stats.getDecimals()" desc="$stats.getDescription()">
<avg>#getNumber($stats.getMean())</avg>
<median>#getNumber($stats.getPercentile(50))</median>
<max>#getNumber($stats.getMax())</max>
<min>#getNumber($stats.getMin())</min>
<standardDev>#getNumber($stats.getStandardDeviation())</standardDev>
<variance>#getNumber($stats.getPopulationVariance())</variance>
<percentile10>#getNumber($stats.getPercentile(10))</percentile10>
<percentile60>#getNumber($stats.getPercentile(60))</percentile60>
<percentile70>#getNumber($stats.getPercentile(70))</percentile70>
<percentile80>#getNumber($stats.getPercentile(80))</percentile80>
<percentile90>#getNumber($stats.getPercentile(90))</percentile90>
<percentile95>#getNumber($stats.getPercentile(95))</percentile95>
<values>#getNumber($stats.getN())</values>
</$stats.getName().replace(' ','.') >
#end
</metrics>
</site>
