## Generate the detailed site data as CSV
## The columns are feed from the sitespeed.io script
## First add the column names##
$columns,date,fromip,starturl##
## add a new line##

## Then add each column##
#foreach ($results in $document.getRootElement().getChildren("results"))##               
#foreach ($column in $columns.split(","))##
#parse("report/velocity/inc/detailed.site/columns/${column}.vm")##
#if( $foreach.hasNext ),#end##
#end##
,$document.getRootElement().getAttribute("date").getValue(),$document.getRootElement().getAttribute("ip").getValue(),$document.getRootElement().getChild("url").getValue()##
## add a new line##

#end##