## Generate the detailed site data as CSV
## The columns are feed from the sitespeed.io script
## First add the column names##
## If we have Browser time metrics, display this kind of value
#set($browserTimeField = "median")##
$columns,date,fromip,starturl##
## add a new line##

## Then add each column##
#foreach ($results in $document.getRootElement().getChildren("results"))##               
#foreach ($column in $columns.split(","))##
#if ($column.toLowerCase().endsWith("time"))##
#parse("report/velocity/inc/pages/columns/genericTimeMetrics.vm")##
#else##
#parse("report/velocity/inc/pages/columns/${column}.vm")##
#end##
#if( $foreach.hasNext ),#end##
#end##
,$document.getRootElement().getAttribute("date").getValue(),$document.getRootElement().getAttribute("ip").getValue(),$document.getRootElement().getChild("url").getValue()##
## add a new line##

#end##