extends ./layout.jade
include _tableMixins

mixin rows(domainStats)
  each domain in domainStats
    tr
      td.url.assetsurl(data-title='Domain') #{domain.domainName}
      +statsCell(domain.blocked, 'Blocked')
      +statsCell(domain.dns, 'DNS')
      +statsCell(domain.connect, 'Connect')
      +statsCell(domain.send, 'Send')
      +statsCell(domain.ssl, 'SSL')
      +statsCell(domain.wait, 'Wait')
      +statsCell(domain.receive, 'Receive')
      +statsCell(domain.totalTime, 'Total time')
      +numberCell('Requests', domain.requestCount)

block content
  h2 Domains
  if count < fullCount
    div Showing top #{count} domains out of #{fullCount}
  else
    div Showing top #{fullCount} domains

  .responsive
    table(data-sortable, id='domains')
      +rowHeading(['Domain', 'Blocked', 'DNS', 'Connect', 'Send', 'SSL', 'Wait', 'Receive', 'Total time', 'Requests'])
      +rows(topDomains)
