footer
  hr
  p
    a(href='https://www.sitespeed.io') sitespeed.io
    | #{' '} #{version} #{' by '}
    a(href='https://www.sitespeed.io/aboutus/') the sitespeed.io team
    | #{' and '}
    a(href='https://github.com/sitespeedio/sitespeed.io/blob/master/CONTRIBUTORS.md') contributors
