footer
  hr
  p
    a(href='https://www.sitespeed.io') sitespeed.io
    | #{' by '}
    a(href='https://twitter.com/soulislove') Peter Hedenskog
    | #{', '}
    a(href='https://twitter.com/tobiaslidskog') Tobias Lidskog
    br 
    | #{' and '}
    a(href='https://github.com/sitespeedio/sitespeed.io/blob/master/CONTRIBUTORS.md') contributors
