mixin headerLink(id, name)
  if (headers[id])
    li
      - active = menu===id ? 'active' : ''
      a(href= rootPath + id + '.html', class=active)= name

.darkblue.nav
  .navgrid
    .logo
        a(href='https://www.sitespeed.io')
          img.navbar-brand(src= assetsPath + 'img/sitespeed.io-logo.png', width='162', height='50', alt='sitespeed.io logo')
    ul
      +headerLink('index', 'Summary')
      +headerLink('detailed', 'Detailed Summary')
      +headerLink('pages', 'Pages')
      +headerLink('domains', 'Domains')
      +headerLink('toplist', 'Toplist')
      +headerLink('assets', 'Assets')
      +headerLink('budget', 'Budget')
      +headerLink('errors', 'Errors')
