mixin headerLink(header)
  if (headers[header.pug])
    li
      - active = menu===header.pug ? 'active' : ''
      a(href= rootPath + header.pug + '.html', class=active)= header.name

.darkblue.nav
  .navgrid
    .logo
        a(href='https://www.sitespeed.io')
          img.navbar-brand(src= rootPath + 'img/sitespeed.io-logo.png', width='162', height='50', alt='sitespeed.io logo')
    ul
      each headers in headerLinks
       +headerLink(headers)
