extends ./layout.pug

mixin box(box)
  if (box.helper)
  - large = box.helper ? box.helper(box.large) : box.large
  - small = box.helper ? box.helper(box.small) : box.small

  if (box.score)
    - klass=h.scoreLabel(box.score)
  else
    - klass='info'
  .summarybox(class=klass)= box.name
    .summarynumber #{large}&nbsp;
      span.summarysmall (#{small})

block content
    include runInfo

    each rows, i in boxes
      .row
        each box in rows
          - var length = rows.length
          case length
            when 3
              .one-third.column
                +box(box)
            when 2
              .one-half.column
                +box(box)
            default
              +box(box)


    p.small * The value inside of the parentheses are the 95th percentile (95% of the time, the number is below this amount)
