<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>#if($!{document.getRootElement().getAttribute("host")})
    $document.getRootElement().getAttribute("host").getValue()
    - $pageTitle
    #else
    $pageTitle - 
    $document.getRootElement().getChild("url").getValue()
    #end
    </title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <meta name="description" content="$pageDescription">
  <meta name="robots" content="noindex" />
  <link rel="stylesheet" href="$!{pathToIncludes}css/styles.css">

  <style type="text/css">
    #parse("report/css/bootstrap-overrides.css")
  </style>

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="$!{pathToIncludes}img/ico/sitespeed.io-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="$!{pathToIncludes}img/ico/sitespeed.io-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="$!{pathToIncludes}img/ico/sitespeed.io-72.png">
<link rel="apple-touch-icon-precomposed" href="$!{pathToIncludes}img/ico/sitespeed.io-57.png">
<link rel="shortcut icon" href="$!{pathToIncludes}img/ico/sitespeed.io.ico">

</head>
 <body>


<nav class="navbar navbar-default" role="navigation">
  <div class="container">

<div class="navbar-header">
    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sitespeed-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img src="$!{pathToIncludes}img/sitespeed-logo.png" class="navbar-brand" alt="Sitespeed.io - How speedy is your site?" width="162" height="50"/>
  </div>
    <!-- Place everything within .navbar-collapse to hide it until above 768px -->
    #if (!$hidemenu)
    <nav class="collapse navbar-collapse sitespeed-collapse">
       <ul class="nav navbar-nav">
            <li#if( $pageMenu == "summary" ) class="active" #end>
              <a href="$!{pathToIncludes}index.html">Summary</a>
            </li>
            <li#if( $pageMenu == "detailedsummary" ) class="active" #end>
              <a href="$!{pathToIncludes}summary.details.html">Detailed summary</a>
            </li>
            <li#if( $pageMenu == "pages" ) class="active" #end>
              <a href="$!{pathToIncludes}pages.html">Pages</a>
            </li>
            <li#if( $pageMenu == "assets" ) class="active" #end>
              <a href="$!{pathToIncludes}assets.html">Assets</a>
            </li>
            #if ($showscreenshots==true)
            <li#if( $pageMenu == "screenshots" ) class="active" #end>
              <a href="$!{pathToIncludes}screenshots.html">Screenshots</a>
            </li>
            #end
            #if ($showserrorurls==true)
            <li#if( $pageMenu == "errorurls" ) class="active" #end>
              <a href="$!{pathToIncludes}errorurls.html">Errors</a>
            </li>
            #end
          </ul>
    </nav><!-- /.nav-collapse -->
    #end
  </div><!-- /.container -->
</nav><!-- /.navbar -->


  <div class="container">
