a#cpu
h3 CPU

.row
  .one-half.column
   if browsertime.cpu.categories
     table
       tr
         th(colspan='2') Categories (ms)
       each value, name in browsertime.cpu.categories
         tr
           td #{name}
           td #{value.toFixed(3)}
  .one-half.column
   if browsertime.cpu.events
     table
       tr
         th(colspan='2') Events (ms)
       each value, name in browsertime.cpu.events
         tr
           td #{name}
           td #{value}
