/* Fix for sitespeed, we set the headers collide
*/
.headers {
   max-width: 1100px;
 }

.sh-container {
  display: none;
}

/*
  Make the waterfall more compact
*/
 .url > div {
   padding:2px 5px;
 }

 .progress {
   margin-bottom:0;
   height:23px;
   border-radius:0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
 }

 /**
 Redirect background color
 */
 .sh-table .bg-redirect {
  background-color: #ffff61;
}

.sh-table .bg-warning {
 background-color: #e25f5c;
}

.sh-table .bg-danger {
 background-color: #e25f5c;
}


/** WPT waterfall colors
DNS 497b1e
Initial cf8124
SSL a83bcb
Tme to forst byte: 7ff62f
Content Download: 4374dc
*/
