h1,
h2,
h3,
h4,
h5,
h6 {
 margin-top: 1rem;
 margin-bottom: 2rem;
 font-weight: 300;
}

h1 {
 font-size: 3rem;
 line-height: 1.2;
}

h2 {
 font-size: 2.8rem;
 line-height: 1.25;
}

h3 {
 font-size: 2.6rem;
 line-height: 1.3;
}

h4 {
 font-size: 2.4rem;
 line-height: 1.35;
}

h5 {
 font-size: 1.8rem;
 line-height: 1.5;
}

h6 {
 font-size: 1.5rem;
 line-height: 1.6;
 letter-spacing: 0;
}

.white {
  background-color: #ffffff;
}

.lightblue {
  background-color: #e1e4fd;
  padding-bottom: 20px;
}


.copy {
  padding-top: 20px;
}

.flogo {
  padding-top: 10px;
}

footer h3 {
    margin-bottom:10px;
    font-size: 1.2rem;
    line-height: 1.3;
}

.pull-left {
float: left!important;
}

.pull-right {
float: right!important;
}

.img-big {
margin-right: 20px;
}

.img-footer {
margin-top: 15px;
}

.middle {
vertical-align: middle;
width: 32px;
}

.edit {
  float: right;
  font-size: 0.8rem;
  line-height: 1.0;
  letter-spacing: 0;
  padding: 5px;
}

.digitalocean {
vertical-align: middle;
height: 26px;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eee;
box-sizing: content-box;
height: 0;
}

footer p {
text-align: center;
margin: 0;
}

a {
 color: #428bca;
 cursor: pointer;
 text-decoration: none;
}

a:hover {
cursor: pointer;
text-decoration: underline;
}

code {
  background-color: #eee;
  padding: 2px;
}

pre code {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.428571429;
word-break: break-all;
word-wrap: break-word;
color: #333;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 4px;
font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
white-space: pre-wrap;
}

.language-bash code:before {
    content: '$ ';
}

.note-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}
.note {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 10px solid #eee;
}

.note-warning {
background-color: #fcf2f2;
border-color: #dfb5b4;
}

.img-thumbnail img {
padding: 4px;
line-height: 1.428571429;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
display: inline-block;
max-width: 100%;
height: auto;
}

.img-thumbnail-center {
  text-align: center;
  margin-bottom: 4px;
}

.img-thumbnail-center img {
  max-width: 500px;
  width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: auto;
}

.small {
  font-size: 0.8em;
  line-height: 1.2em;
}

.image-info {
  text-align: center;
  margin-top: 0px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  padding-bottom: 4px;
}

footer a {
  color: #0095d2;
}

a btn {
  margin-top: 10px;
}

.photo {
border-radius: 10px;
margin-right: 20px;
margin-bottom: 10px;
}

.language-help {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

@media screen and (max-width: 820px) {
  .small {
    text-align: center;
    font-size: 19px;
  }

  h1 {
    line-height: 1em;
  }

  ul {
    padding-left: 10px;
    margin-left: 10px;
  }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #03C9A9;
  margin: 1.5em 10px;
  padding:10px;
}
blockquote:before {
	font-family : georgia;
  color: #6C7A89;
  content: open-quote;
  font-size: 60px;
  /* how to fix the quote position*/
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  letter-spacing : 1px;
}

blockquote span {
  display : block;
  margin-top : 10px;
  margin-left : 10px;
  font-size : 15px;
  font-style:italic;
}
blockquote span:before {
  content : "-";
  margin-right : 3px;
}

#upgradeTable {
  overflow-x: auto;
}

.input-field {
  font-size: 25px;
  margin: 30px auto 0;
  display: block;
  border: solid 1px #000000;
  border-radius: 4px;
  padding: 10px 20px;
}

.red {
 color: red;
}
