- const videoIndex = medianRun ? medianRun.runIndex : iteration;
- const width = options.mobile || options.android || (options.safari && options.safari.useSimulator) ? '400' : '800'

small
    || 
    a(href='#video') Video
    | &nbsp;|&nbsp;
    a(href='#download-video') Download
    | &nbsp;|&nbsp;
a#video
h3 Video
  .videoWrapper
    video(controls, preload='none', width=width)
      source(src='data/video/' + videoIndex +'.mp4', type='video/mp4')

a#download-video
- const videoPath = 'data/video/' + (iteration ? iteration : medianRun.runIndex ) +'.mp4'
a.button.button-download(href=videoPath, download=downloadName + '-video.mp4') Download video
