- let videoIndex = medianRun ? medianRun.runIndex : iteration;
- const width = options.mobile || options.android || (options.safari && options.safari.useSimulator) ? '400' : '800'
- videoIndex = options.browsertime.enableVideoRun ? '1' : videoIndex; 

small
    || 
    a(href='#video') Video
    | &nbsp;|&nbsp;
    a(href='#download-video') Download
    | &nbsp;|&nbsp;
a#video
h3 Video
  .videoWrapper
    video(controls, preload='none', width=width)
      source(src='data/video/' + videoIndex +'.mp4', type='video/mp4')

if options.browsertime.enableVideoRun 
  p Video from --enableVideoRun

a#download-video
- let downloadable = iteration ? iteration : medianRun.runIndex;
- downloadable = options.browsertime.enableVideoRun ? '1' : downloadable;
- const videoPath = 'data/video/' + downloadable +'.mp4'
a.button.button-download(href=videoPath, download=downloadName + '-video.mp4') Download video
