a#summary(href='#summary', data-name='tabs', onclick='return selectTab(this)', if-not-selected)
  img(src= rootPath + 'img/summary64.png', height=32, alt='Summary')
  | Summary
if d.coach && (d.coach.pageSummary || d.coach.run)
  a#coach(href='#coach', data-name='tabs', onclick='return selectTab(this)')
    img(src= rootPath + 'img/coach64.png', height=32, alt='Coach')
    | Coach
if d.browsertime && (d.browsertime.pageSummary || d.browsertime.run)
  a#browsertime(href='#browsertime', data-name='tabs', onclick='return selectTab(this)')
    img(src= rootPath + 'img/browsertime64.png', height=32, alt='Browsertime')
    | Browsertime
if d.pagexray && (d.pagexray.pageSummary || d.pagexray.run)
  a#pagexray(href='#pagexray', data-name='tabs', onclick='return selectTab(this)')
    img(src= rootPath + 'img/xray64.png', height=32, alt='PageXray')
    | PageXray
if d.webpagetest || (d.webpagetest && d.webpagetest.run)
  a#webpagetest(href='#webpagetest', data-name='tabs', onclick='return selectTab(this)')
    img(src= rootPath + 'img/webpagetest64.png', height=32, alt='WebPageTest')
    | WebPageTest
if d.gpsi
  a#gpsi(href='#gpsi', data-name='tabs', onclick='return selectTab(this)')
    img(src= rootPath + 'img/gpsi64.png', height=32, alt='Google Page Speed Insights')
    | GPSI

script(type='text/javascript').
  function select(el) { el && el.setAttribute('selected', '') }

  [].forEach.call(document.querySelectorAll('[data-name=tabs]'), function(el) {
    if (location.hash === '#' + el.id) select(el);
  });

  if (!document.querySelectorAll('[data-name=tabs][selected]').length) {
    select(document.querySelector('[if-not-selected]'));
  }

  function selectTab(el) {
    console.log('Selecting tab ' + el);
    var sel = document.querySelector('[data-name=tabs][selected]');
    if (sel) sel.removeAttribute('selected');
    select(el);

    var charts = document.querySelectorAll(".ct-chart");
    for (i = 0; i < charts.length; i++) {
      if (charts[i].__chartist__) {
        charts[i].__chartist__.update();
      }
    }

    // window.document.querySelector('.ct-chart').__chartist__.update();
    //window.document.querySelector('.ct-chart2').__chartist__.update();
    if (history.replaceState) {
      history.replaceState(null, null, el.href);
      return false;
    }
    // IE9 fallback
  }
