name: Run browser tests Linux
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install dependencies and seup environment
      run: sudo apt-get update
      run: sudo apt-get upgrade google-chrome-stable -y
      run: google-chrome --version
      run: firefox --version
      run: npm ci
      run: docker-compose -f test/docker-compose.yml up -d
    - name: Run tests  
      run: bin/sitespeed.js -b firefox -n 2 --budget.configPath test/oldBudget.json --summary --xvfb https://www.sitespeed.io/
      run: bin/sitespeed.js --useHash -n 1 --budget.configPath test/budget.json --xvfb  https://www.sitespeed.io/#heybaberia
      run: bin/sitespeed.js --useAlias start --mobile -n 1 --utc --axe.enable --xvfb https://www.sitespeed.io/
      run: bin/sitespeed.js -b firefox  --metrics.list --mobile -n 1 https://www.sitespeed.io/ --sustainable.enable --xvfb
      run: bin/sitespeed.js --multi -b chrome -n 1 test/prepostscripts/preSample.js https://www.sitespeed.io/documentation/ test/prepostscripts/postSample.js --xvfb
      run: bin/sitespeed.js --multi -n 1 https://www.sitespeed.io/ https://www.sitespeed.io/documentation/ --tcpdump
      run: bin/sitespeed.js --multi -n 3 test/prepostscripts/multi.js --xvfb
      run: bin/sitespeed.js https://www.sitespeed.io/ https://www.google.com -v -n 1 --html.pageSummaryMetrics transferSize.css --html.pageSummaryMetrics requests.httpErrors --html.pageSummaryMetrics score.performance --xvfb
      run: bin/sitespeed.js https://www.sitespeed.io/ -v -n 1 --html.summaryBoxes score.performance --html.summaryBoxes timings.firstPaint --xvfb
    - name: Run test with Graphite
      run: bin/sitespeed.js https://www.sitespeed.io/ -n 1 --graphite.host 127.0.0.1 --xvfb
    - name: Run test without a CLI
      run: xvfb-run node test/runWithoutCli.js
    - name: Run tests on WebPageTest
      run: bin/sitespeed.js -b chrome -n 2 --summaryDetail --browsertime.chrome.timeline https://www.sitespeed.io/ --webpagetest.key ${{ secrets.WPT_KEY }} --xvfb
    