name: Linux browsers
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Install sitespeed.io
      run: npm ci
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get upgrade google-chrome-stable -y
    - name: Setup environment
      run: docker-compose -f test/docker-compose.yml up -d
    - name: Browser versions
      run: |
        google-chrome --version
        firefox --version
    - name: Test old budget
      run: bin/sitespeed.js -b firefox -n 2 --budget.configPath test/oldBudget.json --summary --xvfb https://www.sitespeed.io/
    - name: Test new budget file  
      run: bin/sitespeed.js --useHash -n 1 --budget.configPath test/budget.json --xvfb  https://www.sitespeed.io/#heybaberia
    - name: Use AXE
      run: bin/sitespeed.js --useAlias start --mobile -n 1 --utc --axe.enable --xvfb https://www.sitespeed.io/
    - name: Use Fireefox with --mobile
      run: bin/sitespeed.js -b firefox  --metrics.list --mobile -n 1 https://www.sitespeed.io/ --sustainable.enable --xvfb
    - name: Test --multi  
      run: bin/sitespeed.js --multi -b chrome -n 1 test/prepostscripts/preSample.js https://www.sitespeed.io/documentation/ test/prepostscripts/postSample.js --xvfb
    - name: Test --multi and --tcpdump  
      run: bin/sitespeed.js --multi -n 1 https://www.sitespeed.io/ https://www.sitespeed.io/documentation/ --tcpdump --xvfb
    - name: Test --multi with one file 
      run: bin/sitespeed.js --multi -n 3 test/prepostscripts/multi.js --xvfb
    - name: Test setting HTML output pageSummaries
      run: bin/sitespeed.js https://www.sitespeed.io/ https://www.google.com -v -n 1 --html.pageSummaryMetrics transferSize.css --html.pageSummaryMetrics requests.httpErrors --html.pageSummaryMetrics score.performance --xvfb
    - name: Test setting HTML output summary boxes 
      run: bin/sitespeed.js https://www.sitespeed.io/ -v -n 1 --html.summaryBoxes score.performance --html.summaryBoxes timings.firstPaint --xvfb
    - name: Run test with Graphite
      run: bin/sitespeed.js https://www.sitespeed.io/ -n 1 --graphite.host 127.0.0.1 --xvfb
    - name: Run test without a CLI
      run: xvfb-run node test/runWithoutCli.js
    - name: Run tests with CruX
      run: bin/sitespeed.js -b chrome -n 1 --crux.key ${{ secrets.CRUX_KEY }} --xvfb https://www.sitespeed.io
    