name: Run unit tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies  
      run: npm ci
      run: sudo apt-get update
      run: sudo apt-get upgrade google-chrome-stable -y
      run: google-chrome --version
      run: firefox --version
    - name: Verify clean CSS 
      run: npm run build:css && test -z "$(git status --porcelain lib/plugins/html/assets/css/index.css)"
    - name: Run unit tests
      uses: GabrielBB/xvfb-action@v1.2
      with:
        run: npm run travis
