name: Unit tests
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies  
      run: |
        npm ci
        sudo apt-get update
        sudo ACCEPT_EULA=Y apt-get upgrade google-chrome-stable -y
    - name: Browser versions
      run: |
        google-chrome --version
        firefox --version
    - name: Verify clean CSS 
      run: npm run build:css && test -z "$(git status --porcelain lib/plugins/html/assets/css/index.css)"
    - name: Verify lint
      run: npm run lint
    - name: Lint pug
      run: npm run pug-lint
    - name: Run unit tests
      run: npm run test
